profile-v1 {
		.thumb-avt{
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 70px;
			img{
				max-width: unset;
				min-width: 100%;
				width: auto;
				height: 100%;
			}
		}

		.wrapper-prd{
			.thumb-prd{
				overflow: hidden;
				height: 75px;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					height: 100%;
					max-width: unset;
					min-width: 100%;
				}
			}
		}
}
