login-v7 {
	.back-page{
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 10000;
	}
	.wrapper-page{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.bg-img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			height: 100%;
			max-width: unset !important;
		}
	}

			.wrapper-page{
			& >div{
				display: flex;
				flex-direction: column;
				height: 100%;
			}
		}
		.logo-img{
			img{
				height: 35px;
			}
		}
		ion-slides{
			flex: 1;
			height: auto;
			ion-slide{
				display: block;
				background-image: url("../../assets/img/decor.png");
				-webkit-background-size: 200% auto;
				-moz-background-size: 200% auto;
				background-size: 200% auto;
				background-repeat: no-repeat;
				&:first-child{
					background-position: 0 100%;
				}
				&:last-child{
					background-position: 100% 100%;
				}
			}
		}
}
