<ion-content>
	<login-v1 *ngIf="page!=undefined && page.name==1" [data]="data[0]" [events]="events[0]">
	</login-v1>

	<login-v2 *ngIf="page!=undefined && page.name==2" [data]="data[1]" [events]="events[1]">
	</login-v2>

	<login-v3 *ngIf="page!=undefined && page.name==3" [data]="data[2]" [events]="events[2]">
	</login-v3>

	<login-v4 *ngIf="page!=undefined && page.name==4" [data]="data[3]" [events]="events[3]">
	</login-v4>

	<login-v5 *ngIf="page!=undefined && page.name==5"  [data]="data[4]" [events]="events[4]">
	</login-v5>

	<login-v6 *ngIf="page!=undefined && page.name==6"  [data]="data[5]" [events]="events[5]">
	</login-v6>

	<login-v7 *ngIf="page!=undefined && page.name==7"  [data]="data[6]" [events]="events[6]">
	</login-v7> 
</ion-content>

