

<div class="white-1">
  
  <ion-list class="lst-no-background">
    <ion-item-sliding>
      <ion-item class="white-1">
        <ion-thumbnail item-start>
          <img src="assets/img/demo1.jpg">
        </ion-thumbnail>
        <h2 class="fs-14 fw-600">My Neighbor Totoro</h2>
        <p class="fs-12">quantity: x1</p>
        <p class="mgt-10 fw-600 fs-12 text-black" (click)="detail()">Readmore</p>
        <ion-note item-end class="fs-13 text-black fw-600">$30.00</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button class="pink-vs-red fs-13" icon-start>
          <ion-icon name="md-trash"></ion-icon>Cancel
        </button>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item class="white-1">
        <ion-thumbnail item-start>
          <img src="assets/img/demo2.jpg">
        </ion-thumbnail>
        <h2 class="fs-14 fw-600">Raiders of the Lost Ark</h2>
        <p class="fs-12">quantity: x3</p>
        <p class="mgt-10 fw-600 fs-12 text-black" (click)="detail()">Readmore</p>
        <ion-note item-end class="fs-13 text-black fw-600">$17.00</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button class="pink-vs-red fs-13" icon-start>
          <ion-icon name="md-trash"></ion-icon>Cancel
        </button>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item class="white-1">
        <ion-thumbnail item-start>
          <img src="assets/img/demo3.jpg">
        </ion-thumbnail>
        <h2 class="fs-14 fw-600">Ghostbusters</h2>
        <p class="fs-12">quantity: x2</p>
        <p class="mgt-10 fw-600 fs-12 text-black" (click)="detail()">Readmore</p>
        <ion-note item-end class="fs-13 text-black fw-600">$2.60</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button class="pink-vs-red fs-13" icon-start>
          <ion-icon name="md-trash"></ion-icon>Cancel
        </button>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item class="white-1">
        <ion-thumbnail item-start>
          <img src="assets/img/demo5.jpg">
        </ion-thumbnail>
        <h2 class="fs-14 fw-600">Batman</h2>
        <p class="fs-12">quantity: x1</p>
        <p class="mgt-10 fw-600 fs-12 text-black" (click)="detail()">Readmore</p>
        <ion-note item-end class="fs-13 text-black fw-600">$19.99</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button class="pink-vs-red fs-13" icon-start>
          <ion-icon name="md-trash"></ion-icon>Cancel
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ion-list no-line class="lst-no-background mgt-50">
    <ion-item>
      <h2 class="fs-16 fw-600">Total</h2>
      <ion-note item-end class="fs-16 text-black fw-600">$69.59</ion-note>
    </ion-item>

    <ion-item>
      <h2 class="fs-14 fw-600">Tax 10%</h2>
      <ion-note item-end class="fs-13 text-black fw-600">6.96</ion-note>
    </ion-item>

    <ion-item>
      <h2 class="fs-14 fw-600">Transport fee</h2>
      <ion-note item-end class="fs-13 text-black fw-600">$3.00</ion-note>
    </ion-item>

    <ion-item>
      <h2 class="fs-20 fw-600">Payment</h2>
      <ion-note item-end class="fs-20 text-black fw-600">$79.55</ion-note>
    </ion-item>
  </ion-list>

  <div class="text-right mgt-40 mgb-50">
    <button ion-button round class="black">Clear Cart</button>
    <button ion-button round class="lama-vs-coban">Oder</button>
  </div>



</div>
