<div class="white-1">
  
  <ion-card class="bdra-0">
    <ion-card-header>Rectang</ion-card-header>
    <ion-card-content>
      <p class="text-grey-4">Folly words widow one downs few age every seven. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bdra-5">
    <ion-card-header>Border radius 5</ion-card-header>
    <ion-card-content>
      <p class="text-grey-4">Folly words widow one downs few age every seven. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bdra-10">
    <ion-card-header>Border radius 10</ion-card-header>
    <ion-card-content>
      <p class="text-grey-4">Folly words widow one downs few age every seven. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bdra-20">
    <ion-card-header>Border radius 20</ion-card-header>
    <ion-card-content>
      <p class="text-grey-4">Folly words widow one downs few age every seven. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>


  <ion-card class="bdra-5">
    <ion-card-header class="white-2 mgb-15 pdt-12 pdb-12">Header color</ion-card-header>
    <ion-card-content>
      <p class="text-grey-4">Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bdra-5">
    <ion-card-header class="green mgb-15 text-white pdt-12 pdb-12">Header color</ion-card-header>
    <ion-card-content>
      <p class="text-grey-4">Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bdra-5">
    <ion-card-header class="pink mgb-15 text-white pdt-12 pdb-12">Header color</ion-card-header>
    <ion-card-content>
      <p class="text-grey-4">Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>


  <ion-card class="bdra-5 cyan">
    <ion-card-header class="text-white">Background color</ion-card-header>
    <ion-card-content>
      <p class="text-white">Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bdra-5 pink-vs-indigo">
    <ion-card-header class="text-white">Background color</ion-card-header>
    <ion-card-content>
      <p class="text-white">Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable.</p>
    </ion-card-content>
  </ion-card>


  <ion-card class="bdra-5">
    <ion-card-header>
      Card list
    </ion-card-header>

    <ion-list>
      <button ion-item class="text-grey-5">
        <ion-icon name="cart" class="fs-20" item-start></ion-icon>
        Shopping
      </button>

      <button ion-item class="text-grey-5">
        <ion-icon name="medical" class="fs-20" item-start></ion-icon>
        Hospital
      </button>

      <button ion-item class="text-grey-5">
        <ion-icon name="cafe" class="fs-20" item-start></ion-icon>
        Cafe
      </button>

      <button ion-item class="text-grey-5">
        <ion-icon name="paw" class="fs-20" item-start></ion-icon>
        Dog Park
      </button>

      <button ion-item class="text-grey-5">
        <ion-icon name="beer" class="fs-20" item-start></ion-icon>
        Pub
      </button>

      <button ion-item class="text-grey-5">
        <ion-icon name="planet" class="fs-20" item-start></ion-icon>
        Space
      </button>
    </ion-list>
  </ion-card>

  
  <ion-card class="bdra-5">
    <img src="assets/img/demo2.jpg"/>
    
    <ion-card-content>
      <ion-card-title class="fs-18">Nine Inch Nails Live</ion-card-title>
      <p>The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small class="text-black">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>120</div>
        </button>
      </ion-col>

      <ion-col center text-center>
        <button ion-button icon-left clear small class="text-black">
          <ion-icon name="text"></ion-icon>
          <div>40</div>
        </button>
      </ion-col>
      
      <ion-col right text-right>
        <button ion-button icon-left clear small class="text-black fs-20">
          <ion-icon name="ios-more"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>




  <ion-card class="card-img-bg bdra-5">
    <img src="assets/img/demo1.jpg"/>
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>





  <ion-card class="card-more-content bdra-5">
    <div [ngClass]="{'active' : (open_more == true)}" class="wrapper">
        
      <div class="thumb">
        <img src="assets/img/demo10.jpg"/>

        <ion-card-content class="black-opct text-white">
          <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16">card title</ion-card-title>
          <span class="info-stt text-white inline-block"><ion-icon name="md-stats"></ion-icon>5 items</span>
        </ion-card-content>

        <ion-item class="btn-open-more transparent">
          <ion-label class="text-white"><ion-icon name="md-list"></ion-icon></ion-label>
          <ion-checkbox [(ngModel)]="open_more" class="hidden-checkbox" color="dark"></ion-checkbox>
        </ion-item>

      </div>
        
      <ion-list class="tree mgb-0">
        <ion-row>
          <button ion-item class="fs-14">
            <ion-label class="text-grey-5">Drink</ion-label>
          </button>
          <button ion-item class="fs-14">
            <ion-label class="text-grey-5">Fast food</ion-label>
            <ion-badge item-end color="dark" class="fs-12 d-purple bdra-0">3 item</ion-badge>
          </button>
          <button ion-item class="fs-14">
            <ion-label class="text-grey-5">Extra</ion-label>
          </button>
          <button ion-item class="fs-14">
            <ion-label class="text-grey-5">Cake</ion-label>
            <ion-badge item-end color="dark" class="fs-12 d-purple bdra-0">2 item</ion-badge>
          </button>
        </ion-row>
      </ion-list>

    </div>
  </ion-card>





  <ion-card class="card-img-bg-more bdra-5">
    <img src="assets/img/demo1.jpg"/>
    <ion-card-header class="text-white">
      <button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
        <ion-icon name="ios-barcode-outline"></ion-icon>
      </button>
      <span class="fs-14 fw-400">23K Followers</span>
      <button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
    </ion-card-header>
    <div class="wrapper black-opct">
      <ion-card-content class="text-white">
        <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>2307 tracks</span>
        <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16">Lorem Ipsum is simply dummy text</ion-card-title>
      </ion-card-content>
    </div>
  </ion-card>





  <ion-card class="bdra-5">
    <ion-item>
      <ion-avatar item-start class="mgt-6 mgb-6">
        <img src="assets/img/avt1.jpg">
      </ion-avatar>
      <h2 class="fs-14">Marty McFly</h2>
      <p class="fs-10 text-grey-4">November 5, 1955</p>
    </ion-item>

    <img src="assets/img/demo4.jpg">

    <ion-card-content>
      <ion-card-title class="fs-18">Nine Inch Nails Live</ion-card-title>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>120</div>
        </button>
      </ion-col>

      <ion-col center text-center>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="text"></ion-icon>
          <div>40</div>
        </button>
      </ion-col>
      
      <ion-col right text-right>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-share"></ion-icon>
          <div>40</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-card class="bdra-5 card-avt-pst">
    <ion-item>
      <ion-avatar item-start class="mgt-10 mgb-6">
        <img src="assets/img/avt4.jpg">
      </ion-avatar>
      <h2 class="fs-14 text-white-2">Marty McFly</h2>
      <p class="fs-10 text-white-2">November 5, 1955</p>
    </ion-item>

    <img src="assets/img/demo3.jpg"/>
    
    <ion-card-content>
      <ion-card-title class="fs-18">Nine Inch Nails Live</ion-card-title>
      <p>The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>
  </ion-card>





  <ion-card class="bdra-5 card-title-pst">
    <div class="pst-relative">
      <img src="assets/img/demo8.jpg"/>
      <ion-card-title padding class="fs-18 text-white pdb-10">Nine Inch Nails Live</ion-card-title>
    </div>

    <ion-card-content>
      <p>The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>
  </ion-card>

  

  <ion-card class="bdra-5 card-button-pst">
    <img src="assets/img/demo11.jpg"/>
    <ion-card-content class="pst-relative">
      <button ion-button icon-only class="pst-absolute button-circle button-large shadow-2 pink-vs-red text-white">
        <ion-icon class="fs-20" name="ios-play"></ion-icon>
      </button>
      <ion-card-title class="fs-20 fw-600 text-center mgt-25">Nine Inch Nails Live</ion-card-title>
      <p class="text-center mgb-20">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>
  </ion-card>


  <ion-card class="pst-relative bdra-5">
    <img src="assets/img/demo12.jpg">
    <ion-fab right top>
      <button ion-fab small class="pink shadow-2">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>

    <ion-item>
      <ion-icon name="football" class="fs-24" item-start large></ion-icon>
      <h2>Museum of Football</h2>
      <p>11 N. Way St, Madison, WI 53703</p>
    </ion-item>

    <ion-item>
      <ion-icon name="wine" class="fs-24" item-left large ></ion-icon>
      <h2>Institute of Fine Cocktails</h2>
      <p>14 S. Hop Avenue, Madison, WI 53703</p>
    </ion-item>

    <ion-item>
      <span class="text-grey-4 fs-13" item-left>18 min</span>
      <span class="text-grey-4 fs-13" item-left>(2.6 mi)</span>
      <button ion-button icon-left clear item-end class="text-black uppercase">
        <ion-icon name="navigate"></ion-icon>
        Start
      </button>
    </ion-item>
  </ion-card>


</div>