  
  <div class="mg-0">
    <ion-card class="bdra-0 white shadow-1 pst-relative pd-5 ani-bottom-to-right" (click)="onCallbackEvent('openConversation')">
      <button ion-button clear class="btn-more text-grey-3 pull-right"><ion-icon name="md-more"></ion-icon></button>
      <ion-card-header class="text-center pdb-0 fs-16 fw-500">
        Cras a dapibus lectus
      </ion-card-header>
      <ion-card-content class="text-center">
        <p class="text-grey-3 mgb-10 fs-13">2 days ago - 3 member</p>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt1.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt2.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt3.jpg" alt="">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="bdra-0 white shadow-1 pst-relative pd-5 ani-bottom-to-right" (click)="onCallbackEvent('openConversation')">
      <button ion-button clear class="btn-more text-grey-3 pull-right"><ion-icon name="md-more"></ion-icon></button>
      <ion-card-header class="text-center pdb-0 fs-16 fw-500">
        Fusce auctor eget tortor
      </ion-card-header>
      <ion-card-content class="text-center">
        <p class="text-grey-3 mgb-10 fs-13">2 days ago - 5 member</p>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt4.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt5.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt6.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt7.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt1.jpg" alt="">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="bdra-0 white shadow-1 pst-relative pd-5 ani-bottom-to-right" (click)="onCallbackEvent('openConversation')">
      <button ion-button clear class="btn-more text-grey-3 pull-right"><ion-icon name="md-more"></ion-icon></button>
      <ion-card-header class="text-center pdb-0 fs-16 fw-500">
        Nunc dictum luctus
      </ion-card-header>
      <ion-card-content class="text-center">
        <p class="text-grey-3 mgb-10 fs-13">2 days ago - 4 member</p>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt2.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt3.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt4.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt5.jpg" alt="">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="bdra-0 white shadow-1 pst-relative pd-5 ani-bottom-to-right" (click)="onCallbackEvent('openConversation')">
      <button ion-button clear class="btn-more text-grey-3 pull-right"><ion-icon name="md-more"></ion-icon></button>
      <ion-card-header class="text-center pdb-0 fs-16 fw-500">
        Pellentesque at ligula
      </ion-card-header>
      <ion-card-content class="text-center">
        <p class="text-grey-3 mgb-10 fs-13">2 days ago - 7 member</p>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt6.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt7.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt1.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt2.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt3.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt4.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt5.jpg" alt="">
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="bdra-0 white shadow-1 pst-relative pd-5 ani-bottom-to-right" (click)="onCallbackEvent('openConversation')">
      <button ion-button clear class="btn-more text-grey-3 pull-right"><ion-icon name="md-more"></ion-icon></button>
      <ion-card-header class="text-center pdb-0 fs-16 fw-500">
        Sed velit eros
      </ion-card-header>
      <ion-card-content class="text-center">
        <p class="text-grey-3 mgb-10 fs-13">2 days ago - 3 member</p>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt6.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt7.jpg" alt="">
        </div>
        <div class="thumb-avt shadow-2">
          <img src="assets/img/avt1.jpg" alt="">
        </div>
      </ion-card-content>
    </ion-card>

  </div>
