<!--
  Generated template for the TwitterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
<ion-title>twitter</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="white">
<ion-spinner class="indicator" [ngClass]="spnState"></ion-spinner>
<ion-card class="bdra-5" *ngFor="let item of list">
<ion-item>
<ion-avatar item-start class="mgt-6 mgb-6">
<img src="{{item.user.profile_image_url}}">
</ion-avatar>

<h2 class="fs-14 fw-600 text-grey-5">{{item.user.name}}</h2>
<p class="fs-10 text-grey-3">{{item.user.created_at}}</p>
</ion-item> 

<span *ngIf="item.entities.media!=undefined">
  <img src="{{item.entities.media[0].media_url}}">
</span>

<ion-card-content>
<p>{{item.text}}</p>
</ion-card-content>

<ion-row>
<ion-col>
<button ion-button icon-left clear small class="text-grey-4 fs-16">
  <ion-icon name="repeat"></ion-icon>
  <div>{{item.retweet_count}}</div> 
</button>
</ion-col>

<ion-col center text-center>
<button ion-button icon-left clear small class="text-grey-4 fs-16" (click)="twitterService.doShare(item)">
 <ion-icon name="share"></ion-icon>
</button>
</ion-col>

<ion-col right text-right>
<button ion-button icon-left clear small class="text-grey-4 fs-20" (click)="twitterService.doOpen(item)">
  <ion-icon name="open"></ion-icon>
</button>
</ion-col>
</ion-row>
</ion-card>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>