

<div class="white-1 pdb-50">
  
  <div class="pst-button text-center full-width">
    <button ion-button round color="light" class="shadow-3 pink-vs-yellow text-white fs-14">Add To Cart</button>
  </div>


  <div class="pst-relative">
    <button ion-button large icon-only color="light" class="top-btn-add button-circle white mgb--25 mgr--25 shadow-3 text-pink">
      <ion-icon class="fs-25" name="ios-bookmark"></ion-icon>
    </button>

    <ion-row>
      <ion-col col-6 no-padding>
        <div class="main-thumb-view ovfl-hidden">
          <img src="assets/img/foo1.jpg" alt="">
        </div>
      </ion-col>
      <ion-col col-3 no-padding>
        <div class="wrap-thumb">
          <div class="thumb-view ovfl-hidden">
            <img src="assets/img/foo2.jpg" alt="">
          </div>
          <div class="thumb-view ovfl-hidden">
            <img src="assets/img/foo3.jpg" alt="">
          </div>
        </div>
      </ion-col>
      <ion-col col-3 no-padding>
        <div class="wrap-thumb">
          <div class="thumb-view ovfl-hidden">
            <img src="assets/img/foo4.jpg" alt="">
          </div>
          <div class="thumb-view ovfl-hidden">
            <img src="assets/img/foo5.jpg" alt="">
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div padding>
    <div class="text-center mgt-20">
      <p class="text-grey-4 fs-13">posted at 08:00 - Dec 24, 2017</p>
      <h2 class="pdl-30 pdr-30 fs-22 fw-600 mg-0">Lorem Ipsum is simply nine inch nails</h2>
      
      
      <div class="fs-16 opct-6 mgt-15 inline-block pdr-10">
        <ion-icon class="fs-20 text-red" name="md-star"></ion-icon>
        <ion-icon class="fs-20 text-red" name="md-star"></ion-icon>
        <ion-icon class="fs-20 text-red" name="md-star"></ion-icon>
        <ion-icon class="fs-20 text-grey-4" name="md-star"></ion-icon>
        <ion-icon class="fs-20 text-grey-4" name="md-star"></ion-icon>
      </div>
    </div>

    <ion-row class="mgt-30 mgb-20">
      <ion-col col-4 class="text-grey-4 text-center">
        <ion-icon class="fs-25" name="md-timer"></ion-icon>
        <p class="text-grey-4 fs-13">15 Minutes</p>
      </ion-col>
      <ion-col col-4 class="text-grey-4 text-center">
        <ion-icon class="fs-25" name="md-bicycle"></ion-icon>
        <p class="text-grey-4 fs-13">9,8 Healthy</p>
      </ion-col>
      <ion-col col-4 class="text-grey-4 text-center">
        <ion-icon class="fs-25" name="ios-flash"></ion-icon>
        <p class="text-grey-4 fs-13">1030 Kcal</p>
      </ion-col>
    </ion-row>
    

    <div class="share text-center">
      <h5 class="text-black fs-12 uppercase spacing-1">Share with:</h5>
      <button ion-button class="grey-1 text-grey-4 button-circle"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-button class="grey-1 text-grey-4 button-circle"><ion-icon name="logo-instagram"></ion-icon></button>
      <button ion-button class="grey-1 text-grey-4 button-circle"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-button class="grey-1 text-grey-4 button-circle"><ion-icon name="logo-google"></ion-icon></button>
      <button ion-button class="grey-1 text-grey-4 button-circle"><ion-icon name="logo-pinterest"></ion-icon></button>
    </div>

    <div class="mgt-40 text-center pdb-30">
      <h5 class="text-black fs-12 uppercase spacing-1">Price:</h5>
      <p class="fs-25 fw-600 mgt-5">$7.90</p>
      <h5 class="text-black fs-12 uppercase spacing-1">Description:</h5>
      <p class="text-grey-4">There are many variations of passages of Lorem Ipsum available, but the majority have suffered, by injected humour, or randomised words which don't look even slightly believable.</p>
    </div>
    
  </div>

</div>
