<ion-content padding class="modal-menu black">
  <ion-row class="main-modal bdra-10">
    <div class="modal-box-wrapper">
      
      <div class="thumb text-center mg-auto mgt-40" col-6>
        <img src="assets/img/demo11.jpg" alt="">
      </div>
      
      <p class="text-grey-4 text-center">Koodinh Producer</p>

      <ion-list no-lines class="lst-no-background text-white mgt-40">
        <button class="uppercase spacing-3 fw-600 text-center" ion-item>Home</button> 
        <button class="uppercase spacing-3 fw-600 text-center" ion-item>Product</button>
        <button class="uppercase spacing-3 fw-600 text-center" ion-item>Profile</button>
        <button class="uppercase spacing-3 fw-600 text-center" ion-item>Blog</button> 
        <button class="uppercase spacing-3 fw-600 text-center" ion-item>Contact</button> 
      </ion-list>

    </div>
  </ion-row>
  

  <ion-footer>
    <ion-toolbar padding class="transparent text-white shadow-0 text-center">
      <button ion-button icon-only outline class="stroke-grey-3 button-circle text-grey-3" (click)="dismiss()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-footer>

</ion-content>