<ion-list no-lines class="lst-no-background">
  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo1.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">My Neighbor Totoro</h2>
    <p class="text-grey-1 fs-12">Hayao Miyazaki • 1988</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo2.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Raiders of the Lost Ark</h2>
    <p class="text-grey-1 fs-12">Steven Spielberg • 1981</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo3.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Ghostbusters</h2>
    <p class="text-grey-1 fs-12">Ivan Reitman • 1984</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo4.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Batman</h2>
    <p class="text-grey-1 fs-12">Tim Burton • 1988</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo5.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">My Neighbor Totoro</h2>
    <p class="text-grey-1 fs-12">Hayao Miyazaki • 1988</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo6.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Raiders of the Lost Ark</h2>
    <p class="text-grey-1 fs-12">Steven Spielberg • 1981</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo7.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">My Neighbor Totoro</h2>
    <p class="text-grey-1 fs-12">Hayao Miyazaki • 1988</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo8.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Raiders of the Lost Ark</h2>
    <p class="text-grey-1 fs-12">Steven Spielberg • 1981</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo9.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Ghostbusters</h2>
    <p class="text-grey-1 fs-12">Ivan Reitman • 1984</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo10.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Batman</h2>
    <p class="text-grey-1 fs-12">Tim Burton • 1988</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo11.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">My Neighbor Totoro</h2>
    <p class="text-grey-1 fs-12">Hayao Miyazaki • 1988</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo12.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Raiders of the Lost Ark</h2>
    <p class="text-grey-1 fs-12">Steven Spielberg • 1981</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo13.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Raiders of the Lost Ark</h2>
    <p class="text-grey-1 fs-12">Steven Spielberg • 1981</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo14.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Raiders of the Lost Ark</h2>
    <p class="text-grey-1 fs-12">Steven Spielberg • 1981</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo15.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Raiders of the Lost Ark</h2>
    <p class="text-grey-1 fs-12">Steven Spielberg • 1981</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>

  <ion-item class="" (click)="onCallbackEvent('openPlayer')">
    <ion-thumbnail item-start class="shadow-2">
      <img src="assets/img/demo16.jpg">
    </ion-thumbnail>
    <h2 class="text-white fs-15">Raiders of the Lost Ark</h2>
    <p class="text-grey-1 fs-12">Steven Spielberg • 1981</p>
    <button ion-button small item-end class="white-opct text-white button-circle">
      <ion-icon class="fs-18" name="ios-play"></ion-icon>
    </button>
  </ion-item>
</ion-list>

