<div padding class="white-1">
  
  <h5 class="mgb-20 mgt-20">Shapes</h5>
  
  <button ion-button clear>Clear</button>
  <button ion-button class="bdra-0 l-blue">Rectang</button>
  <button ion-button outline color="light" class="stroke-black text-black">Outline 1</button>
  <button ion-button outline color="light" class="stroke-pink stroke-2 fw-500 text-pink">Outline 2</button>
  <button ion-button outline color="light" class="stroke-purple stroke-3 fw-800 text-purple">Outline 3</button>
  <button ion-button class="amber bdra-10">Border radius</button>
  <button ion-button round class="l-green">Round</button>
  <button ion-button round color="dark" class="black-opct text-white">Opacity</button>
  <button ion-button block round class="teal">Block</button>
  <button ion-button block class="blue-grey">Block</button>
  
  <br>
  <h5 class="mgb-20">Size</h5>

  <button ion-button large class="teal">Large</button>
  <button ion-button class="purple">Medium</button>
  <button ion-button small class="pink">Small</button>
  
  <br>
  <h5 class="mgb-20">With icon</h5>

  <button ion-button icon-left class="indigo">
    <ion-icon name="ios-construct"></ion-icon>
    Left Icon
  </button>

  <button ion-button icon-left class="d-purple">
    <ion-icon name="ios-paw"></ion-icon>
    Left Icon
  </button>

  <button ion-button icon-right class="l-green">
    Right Icon
    <ion-icon name="ios-construct"></ion-icon>
  </button>

  <button ion-button icon-right class="yellow">
    Right Icon
    <ion-icon name="ios-paw"></ion-icon>
  </button>
  

  <br>
  <h5 class="mgb-20">Only icon</h5>

  <button ion-button icon-only class="red">
    <ion-icon name="ios-ribbon"></ion-icon>
  </button>
  
  <button ion-button icon-only class="pink">
    <ion-icon name="md-finger-print"></ion-icon>
  </button>

  <button ion-button icon-only class="purple">
    <ion-icon name="ios-leaf"></ion-icon>
  </button>

  <button ion-button icon-only class="d-purple">
    <ion-icon name="ios-jet"></ion-icon>
  </button>

  <button ion-button icon-only class="indigo">
    <ion-icon name="ios-key"></ion-icon>
  </button>

  <button ion-button icon-only class="blue">
    <ion-icon name="logo-snapchat"></ion-icon>
  </button>

  <button ion-button icon-only outline class="stroke-l-green text-l-green">
    <ion-icon name="ios-pulse"></ion-icon>
  </button>
  
  <button ion-button icon-only class="lama-vs-coban circle text-white">
    <ion-icon name="ios-add"></ion-icon>
  </button>

  <button ion-button icon-only outline class="stroke-grey-3 button-circle text-grey-3">
    <ion-icon name="ios-close"></ion-icon>
  </button>

  <button ion-button icon-only clear class="text-black">
    <ion-icon name="md-partly-sunny"></ion-icon>
  </button>


  <br>
  <h5 class="mgb-20">Box shadow</h5>
  
  <button ion-button class="blue shadow-1">Shadow 1</button>
  <button ion-button class="indigo shadow-2">Shadow 2</button>
  <button ion-button class="teal shadow-3">Shadow 3</button>
  <button ion-button class="amber shadow-inset-1">Shadow inset 1</button>
  <button ion-button class="blue-grey shadow-inset-2">Shadow inset 2</button>
  <button ion-button class="text-black white-2 shadow-inset-3">Shadow inset 3</button>

  
  <br>
  <h5 class="mgb-20">Opacity</h5>
  
  <button ion-button round color="dark" block class="black-opct text-white shadow-1">Dark Opacity</button>
  <button ion-button round color="light" block class="white-opct text-black shadow-1 mgt-15">light Opacity</button>

  <br>
  <h5 class="mgb-20">Gallery background</h5>

  <button ion-button class="red">button</button>
  <button ion-button class="purple">Button</button>
  <button ion-button class="indigo">Button</button>
  <button ion-button class="blue">Button</button>
  <button ion-button class="green-vs-yellow">Button</button>
  <button ion-button class="cyan-vs-yellow">Button</button>
  <button ion-button class="pink-vs-yellow">Button</button>
  <button ion-button class="pink-vs-red">Button</button>
  <button ion-button class="pink-vs-indigo">Button</button>



</div>