

<div class="white-1 ovfl-auto">
  
  <div class="pst-button text-center">
    <button ion-button only-icon class="pink-vs-red shadow-3 button-circle">
      <ion-icon name="ios-backspace"></ion-icon>
    </button>
    <button ion-button only-icon large class="lama-vs-coban shadow-3 button-circle">
      <ion-icon name="md-cash"></ion-icon>
    </button>
  </div>


  <ion-list class="lst-no-background mgt-15">
    <ion-item>
      <h3>4 items</h3>
      <span>-</span>
      <h2 class="uppercase spacing-1">Total Cost: $72.69</h2>
    </ion-item>
  </ion-list>


  <ion-list class="lst-no-background">
    <ion-item>
      <ion-row>
        <ion-col col-1 class="pdl-0">
          <button ion-button small icon-only color="light" class="text-black button-circle">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-11 class="">
          <ion-row (click)="onCallbackEvent('openDetail')">
            <ion-col col-3 class="">
              <div class="thumb-item ovfl-hidden shadow-2 bdra-3 mg-auto">
                <img src="assets/img/foo4.jpg" alt="">
              </div>
            </ion-col>
            <ion-col col-8 class="">
              <h3 class="fs-16 spacing-1 fw-500">Nine Inch Nails Live</h3>
              <span class="pull-left">$3.2</span>
              <ion-badge item-end class="mgt-5 mgb-0 pull-right tim-vs-datroi">2</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="ios-eye"></ion-icon>
            </button>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="md-remove"></ion-icon>
            </button>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="md-add"></ion-icon>
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col col-1 class="pdl-0">
          <button ion-button small icon-only color="light" class="text-black button-circle">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-11 class="">
          <ion-row (click)="onCallbackEvent('openDetail')">
            <ion-col col-3 class="">
              <div class="thumb-item ovfl-hidden shadow-2 bdra-3 mg-auto">
                <img src="assets/img/foo9.jpg" alt="">
              </div>
            </ion-col>
            <ion-col col-8 class="">
              <h3 class="fs-16 spacing-1 fw-500">Nine Inch Nails Live</h3>
              <span class="pull-left">$3.2</span>
              <ion-badge item-end class="mgt-5 mgb-0 pull-right tim-vs-datroi">2</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="ios-eye"></ion-icon>
            </button>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="md-remove"></ion-icon>
            </button>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="md-add"></ion-icon>
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col col-1 class="pdl-0">
          <button ion-button small icon-only color="light" class="text-black button-circle">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-11 class="">
          <ion-row (click)="onCallbackEvent('openDetail')">
            <ion-col col-3 class="">
              <div class="thumb-item ovfl-hidden shadow-2 bdra-3 mg-auto">
                <img src="assets/img/foo10.jpg" alt="">
              </div>
            </ion-col>
            <ion-col col-8 class="">
              <h3 class="fs-16 spacing-1 fw-500">Nine Inch Nails Live</h3>
              <span class="pull-left">$3.2</span>
              <ion-badge item-end class="mgt-5 mgb-0 pull-right tim-vs-datroi">2</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="ios-eye"></ion-icon>
            </button>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="md-remove"></ion-icon>
            </button>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="md-add"></ion-icon>
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col col-1 class="pdl-0">
          <button ion-button small icon-only color="light" class="text-black button-circle">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-11 class="">
          <ion-row (click)="onCallbackEvent('openDetail')">
            <ion-col col-3 class="">
              <div class="thumb-item ovfl-hidden shadow-2 bdra-3 mg-auto">
                <img src="assets/img/foo8.jpg" alt="">
              </div>
            </ion-col>
            <ion-col col-8 class="">
              <h3 class="fs-16 spacing-1 fw-500">Nine Inch Nails Live</h3>
              <span class="pull-left">$3.2</span>
              <ion-badge item-end class="mgt-5 mgb-0 pull-right tim-vs-datroi">2</ion-badge>
            </ion-col>
          </ion-row>
          <ion-row>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="ios-eye"></ion-icon>
            </button>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="md-remove"></ion-icon>
            </button>
            <button ion-button small icon-only color="light" class="bdra-3 text-grey-3 mgl-20 fs-13">
              <ion-icon name="md-add"></ion-icon>
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


  <div padding>
    <p class="fs-16 fw-600">More fee</p>
    <p class="text-pink fs-30 mgb-0 mgt--15">
      <ion-icon name="md-remove"></ion-icon>
    </p>
  </div>

  <ion-list no-line class="lst-no-background pdb-50">
    <ion-item>
      <button ion-button large icon-only class="shadow-2 blue button-circle inline-block">
        <ion-icon class="pd-0" name="ios-paper"></ion-icon>
      </button>
      <h2 class="inline-block fs-16 fw-600 mgl-5">Tax 10%</h2>
      <ion-note item-end class="fs-16 text-black fw-600">$6.96</ion-note>
    </ion-item>

    <ion-item class="pdb-50">
      <button ion-button large icon-only class="shadow-2 yellow button-circle inline-block">
        <ion-icon class="pd-0" name="md-car"></ion-icon>
      </button>
      <h2 class="inline-block fs-16 fw-600 mgl-5">Transport fee</h2>
      <ion-note item-end class="fs-16 text-black fw-600">$3.00</ion-note>
    </ion-item>
  </ion-list>

</div>
