
<div class="white">
  <div class="food-slide-blog">
   <ion-slides autoplay="2500" slidesPerView="3" centeredSlides="true" loop="true" speed="1000" pager="false" class="height-auto">
      <ion-slide class="pd-10 pdb-20">
        <div class="wrap-slide-item shadow-3 bdra-5 mgt-15 ovfl-hidden">
          <img src="assets/img/foo3.jpg" alt="">
          <div class="slogan-slide-blog">
            <div padding class="wrapper-slogan pdr-50 white-opct text-left">
              <h3 class="title text-white fs-16 spacing-2 fw-600 mg-0 uppercase">Hot Collection</h3>
              <p class="fs-11 text-white">This town ain't big enough for the two of us!</p>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide class="pd-10 pdb-20">
        <div class="wrap-slide-item shadow-3 bdra-5 mgt-15 ovfl-hidden">
          <img src="assets/img/foo4.jpg" alt="">
          <div class="slogan-slide-blog">
            <div padding class="wrapper-slogan pdr-50 white-opct text-left">
              <h3 class="title text-white fs-16 spacing-2 fw-600 mg-0 uppercase">Lorem Ipsum</h3>
              <p class="fs-11 text-white">This town ain't big enough for the two of us!</p>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide class="pd-10 pdb-20">
        <div class="wrap-slide-item shadow-3 bdra-5 mgt-15 ovfl-hidden">
          <img src="assets/img/foo5.jpg" alt="">
          <div class="slogan-slide-blog">
            <div padding class="wrapper-slogan pdr-50 white-opct text-left">
              <h3 class="title text-white fs-16 spacing-2 fw-600 mg-0 uppercase">This town ain't big</h3>
              <p class="fs-11 text-white">This town ain't big enough for the two of us!</p>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


  <h3 padding class="uppercase spacing-1 fs-12 mgt--10">More posts other</h3>

  <ion-list no-lines>
    <ion-item>
      <ion-thumbnail class="shadow-2 bdra-5 ovfl-hidden" item-start>
        <img src="assets/img/foo10.jpg">
      </ion-thumbnail>
      <h2 class="spacing-1 fw-600 text-grey-5">Daffy</h2>
      <p class="fs-11">This town ain't big enough for the two of us!</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail class="shadow-2 bdra-5 ovfl-hidden" item-start>
        <img src="assets/img/foo15.jpg">
      </ion-thumbnail>
      <h2 class="spacing-1 fw-600 text-grey-5">Huey</h2>
      <p class="fs-11">This town ain't big enough for the two of us!</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail class="shadow-2 bdra-5 ovfl-hidden" item-start>
        <img src="assets/img/foo11.jpg">
      </ion-thumbnail>
      <h2 class="spacing-1 fw-600 text-grey-5">Dewey</h2>
      <p class="fs-11">This town ain't big enough for the two of us!</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail class="shadow-2 bdra-5 ovfl-hidden" item-start>
        <img src="assets/img/foo9.jpg">
      </ion-thumbnail>
      <h2 class="spacing-1 fw-600 text-grey-5">Louie</h2>
      <p class="fs-11">This town ain't big enough for the two of us!</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail class="shadow-2 bdra-5 ovfl-hidden" item-start>
        <img src="assets/img/foo11.jpg">
      </ion-thumbnail>
      <h2 class="spacing-1 fw-600 text-grey-5">Daffy</h2>
      <p class="fs-11">This town ain't big enough for the two of us!</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail class="shadow-2 bdra-5 ovfl-hidden" item-start>
        <img src="assets/img/foo15.jpg">
      </ion-thumbnail>
      <h2 class="spacing-1 fw-600 text-grey-5">Huey</h2>
      <p class="fs-11">This town ain't big enough for the two of us!</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail class="shadow-2 bdra-5 ovfl-hidden" item-start>
        <img src="assets/img/foo10.jpg">
      </ion-thumbnail>
      <h2 class="spacing-1 fw-600 text-grey-5">Dewey</h2>
      <p class="fs-11">This town ain't big enough for the two of us!</p>
    </ion-item>
    <ion-item>
      <ion-thumbnail class="shadow-2 bdra-5 ovfl-hidden" item-start>
        <img src="assets/img/foo19.jpg">
      </ion-thumbnail>
      <h2 class="spacing-1 fw-600 text-grey-5">Louie</h2>
      <p class="fs-11">This town ain't big enough for the two of us!</p>
    </ion-item>
  </ion-list>

</div>