<div class="white-1 comingsoon-event">
  <div class="wrapper-content">

    <div class="wrapper-coming black-opct-1">
      <div class="bg-img">
        <img src="assets/img/bg9.jpg" alt="">
      </div>
      <div class="main-time text-white text-center black-opct">
        <h2 class="fs-60 fw-800 mgb-0 spacing-3 ani-bottom-to-top">{{days}}</h2>
        <p class="mgt-0 spacing-2 fs-13 ani-fade-out">days</p>
        
        <h2 class="fs-60 fw-600 mgb-0 spacing-3 ani-bottom-to-top">{{hours}}</h2>
        <p class="mgt-0 spacing-2 fs-13 ani-fade-out">hours</p>

        <h2 class="fs-60 fw-600 mgb-0 spacing-3 ani-bottom-to-top">{{minutes}}</h2>
        <p class="mgt-0 spacing-2 fs-13 ani-fade-out">minutes</p>

        <p class="seconds spacing-3">seconds {{seconds}}</p>
      </div>
    </div>

    <ion-card class="bdra-0 stroke-bottom stroke-3 stroke-cyan mg-0 full-width main-event ani-bottom-to-top">
      <ion-row class="wrapper-item-line">
        <div class="left-time-flex text-center stroke-right stroke-1 stroke-grey-1 pdt-20 pdb-20" col-3>
          <span class="fw-400 block text-grey-3 uppercase mgb-10">Nov</span>
          <p class="day fs-24 fw-600 stroke-1 stroke stroke-cyan text-cyan">29</p>
          <p class="time">
            <b class="fs-12">11:05 am</b>
          </p>
        </div>

        <div class="right-content pd-15 pdr-10" col-9>
          <h3 class="fs-15 fw-600 mgb-10">Folly words widow one downs few age.</h3>
          
          <ion-list no-border no-lines lst-small class="lst-no-background">
            <ion-item class="text-grey-3 fs-13 pdl-0">
              <ion-icon name='md-pin' class="fs-16" item-start></ion-icon>
              2B/324 Thuy Khue, Tay Ho, Ha Noi
            </ion-item>
            <ion-item class="text-grey-3 fs-13 pdl-0">
              <ion-icon name='ios-phone-portrait' class="fs-16" item-start></ion-icon>
              +84 868 271 095
            </ion-item>
          </ion-list>

          <button ion-button small round icon-left outline class="stroke stroke-1 stroke-cyan text-cyan">Note</button>
          <button ion-button small round icon-left class="text-black grey-2">More</button>
        </div>
      </ion-row>
    </ion-card>

  </div>

</div>
