<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="settings!=null" class="{{settings.skin.main_skin}}">
<ion-navbar>
<button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
<ion-title>Home</ion-title>
</ion-navbar>
</ion-header>

<ion-content *ngIf="settings!=null" class="{{settings.skin.main_bg}}">

<div *ngIf="settings.dashboard_type == 1">
  <div class="wrapper-slide">
    <div class="wrapper-slide-pagination">
      <ion-slides autoplay="3000" loop="true" speed="1000" pager="false" class="height-auto" #slide>
      <ion-slide>
      <img src="assets/img/home1.jpg" alt="">
    </ion-slide>

    <ion-slide>
    <img src="assets/img/home2.jpg" alt="">
  </ion-slide>

  <ion-slide>
  <img src="assets/img/home3.jpg" alt="">
</ion-slide>
</ion-slides>
<div class="btn-pagination">
  <button ion-button clear class="button-circle text-white pull-right" (click)="slide_next()">
    <ion-icon class="fs-26" name="ios-arrow-dropright"></ion-icon>
  </button>
  <button ion-button clear class="button-circle text-white pull-left" (click)="slide_prev()">
    <ion-icon class="fs-26" name="ios-arrow-dropleft"></ion-icon>
  </button>
</div>
</div>
</div>

<div padding>
  <div *ngFor="let tree of pages" class="mgt-20 mgb-40">
    <h6 class="uppercase fs-13 fw-500 text-grey-4">{{tree.title}}</h6>
    <ion-row class="mgt-10 mgb-20 mgl--5 mgr--5">
    <ion-col col-6 *ngFor="let item of tree.group, let i = index">
    <div class="shadow-2 white-opct-1 pd-15 text-center" (click)="openPage(item)">
      <ion-icon class="fs-22 text-grey-5 mgt-10" name="{{item.icon}}"></ion-icon>
      <h2 class="text-grey-5 fs-12 spacing-1 mg-5 uppercase fw-600 text-ellipsis">{{item.title}}</h2>
    </div>
  </ion-col>
</ion-row>
</div>
</div>

</div>


<div *ngIf="settings.dashboard_type == 2">
  <ion-card class="card-more-content bdra-5" *ngFor="let tree of pages, let i = index">
  <div [ngClass]="{'active' : (open_more[i] == true)}" class="wrapper">
    <div class="thumb">
      <img src="assets/img/{{'bg' + (i + 1) + '.jpg'}}"/>

      <ion-card-content class="black-opct text-white">
      <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16">{{tree.title}}</ion-card-title>
      <span class="info-stt text-white inline-block"><ion-icon name="md-stats"></ion-icon>5 items</span>
    </ion-card-content>

    <ion-item class="btn-open-more transparent">
    <ion-label class="text-white"><ion-icon name="md-list"></ion-icon></ion-label>
    <ion-checkbox [(ngModel)]="open_more[i]" class="hidden-checkbox" color="dark"></ion-checkbox>
    </ion-item>
</div>

<ion-list class="tree mgb-0" *ngFor="let item of tree.group, let i = index">
<ion-row>
<button ion-item class="fs-14" (click)="openPage(item)">
  <ion-label class="text-grey-5">
  <ion-icon class="fs-22 text-grey-5 mgt-10" name="{{item.icon}}" style="margin-top: -3px!important"></ion-icon>
  {{item.title}}
</ion-label>
</button>

</ion-row>
</ion-list>

</div>
</ion-card>
</div>


<div *ngIf="settings.dashboard_type == 3">
  <ion-list *ngFor="let tree of pages" no-lines class="lst-no-background mgb-40">
  <ion-list-header class="mgt-10 mgb-10 uppercase fs-13 fw-500">{{tree.title}}</ion-list-header>
  <button ion-item *ngFor="let item of tree.group, let i = index" (click)="openPage(item)">
    {{item.title}}
  </button>
</ion-list>
</div>



</ion-content>
