music-home {
	.thumb-avt{
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;
		img{
			max-width: unset;
			min-width: 100%;
			width: auto;
			height: 100%;
		}
	}
	.wrapper-prd{
		width: 125%;
		.thumb-prd{
			overflow: hidden;
			height: 75px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				height: 100%;
				max-width: unset;
				min-width: 100%;
			}
		}
	}

	.thumb-album{
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			height: 100%;
			width: auto;
			min-width: 100%;
			max-width: unset;
			display: block;
		}
	}
	.decor{
		z-index: 10;
		display: block;
		margin: 0px auto;
		height: 90%;
		width: 5px;
		span{
			position: relative;
			left: -10px;
			top: calc(50% - 10px);
			height: 0px;
			width: 0px;
			border-radius: 50%;
			border: 10px solid;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			transform: rotate(45deg);
		}
	}
	ion-list ion-thumbnail img{
		width: 120px!important;
	}
}
