
<div padding class="white-2">
  
  <h5 class="text-grey-4 mgb-20 mgt-20">Shapes</h5>

  <ion-list>
    <ion-item class="text-grey-5 white round">
      <ion-input type="text" placeholder="Round"></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item class="text-white lime ">
      <ion-input type="text" placeholder="Background color"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white lama-vs-coban">
      <ion-input type="text" placeholder="Background Gradient"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white black-opct">
      <ion-input type="text" placeholder="Opacity"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white">
      <ion-input type="text" placeholder="Rectang"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 stroke-2 stroke-grey-5">
      <ion-input type="text" placeholder="Border"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 line-2 pdl-0 stroke-grey-5">
      <ion-input type="text" placeholder="Line"></ion-input>
    </ion-item>
  </ion-list>
  
  <br>
  <h5 class="text-grey-4 mgb-20">Round</h5>

  <ion-list>
    <ion-item class="text-grey-5 white bdra-5 ">
      <ion-input type="text" placeholder="Border radius 5"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white bdra-10 ">
      <ion-input type="text" placeholder="Border radius 10"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white bdra-15 ">
      <ion-input type="text" placeholder="Border radius 15"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white round ">
      <ion-input type="text" placeholder="Round"></ion-input>
    </ion-item>
  </ion-list>

  <br>
  <h5 class="text-grey-4 mgb-20">Stroke</h5>

  <ion-list>
    <ion-item class="text-grey-5 stroke-1 stroke-grey-5">
      <ion-input type="text" placeholder="Stroke 1"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 stroke-2 stroke-grey-5">
      <ion-input type="text" placeholder="Stroke 2"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 stroke-3 stroke-grey-5">
      <ion-input type="text" placeholder="Stroke 3"></ion-input>
    </ion-item>
  </ion-list>
  
  <br>
  <h5 class="text-grey-4 mgb-20">Line</h5>

  <ion-list>
    <ion-item class="text-grey-5 line-1 pdl-0 stroke-grey-5">
      <ion-input type="text" placeholder="Line 1"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 line-2 pdl-0 stroke-grey-5">
      <ion-input type="text" placeholder="Line 2"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 line-3 pdl-0 stroke-grey-5">
      <ion-input type="text" placeholder="Line 3"></ion-input>
    </ion-item>
  </ion-list>

  <br>
  <h5 class="text-grey-4 mgb-20">Box shadow</h5>

  <ion-list>
    <ion-item class="text-grey-5 white round shadow-1">
      <ion-input type="text" placeholder="Box shadow 1"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white round shadow-2">
      <ion-input type="text" placeholder="Box shadow 2"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white round shadow-3">
      <ion-input type="text" placeholder="Box shadow 3"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white round shadow-inset-1">
      <ion-input type="text" placeholder="Box shadow inset 1"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white round shadow-inset-2">
      <ion-input type="text" placeholder="Box shadow inset 2"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 white round shadow-inset-3">
      <ion-input type="text" placeholder="Box shadow inset 3"></ion-input>
    </ion-item>
  </ion-list>
  
  <br>
  <h5 class="text-grey-4 mgb-20">Background</h5>

  <ion-list>
    <ion-item class="text-grey-5 white-opct round shadow-1">
      <ion-input type="text" placeholder="Opacity light"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white black-opct round ">
      <ion-input type="text" placeholder="Opacity dark"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white lama-vs-coban round shadow-1">
      <ion-input type="text" placeholder="Gradient color"></ion-input>
    </ion-item>
  </ion-list>
  
  <br>
  <h5 class="text-grey-4 mgb-20">Gallery</h5>

  <ion-list>
    <ion-item class="text-grey-5 white round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white black round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white pink round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white purple round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white blue round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white yellow round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white black-opct round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white black-opct round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white pink-vs-indigo round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white indigo-vs-purple round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white pink-vs-red round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white pink-vs-yellow round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white lama-vs-coban round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-white green-vs-yellow round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 stroke-2 stroke-grey-5 bdra-10 ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 stroke-2 stroke-grey-5 round ">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item class="text-grey-5 line-2 stroke-grey-5 bdra-10 pdl-5">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="text-grey-5 line-2 stroke-grey-5 pdl-0">
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
  </ion-list>

</div>