

<div class="white">

  <div class="wrapper-slide">
    <ion-slides autoplay="2500" slidesPerView="3" loop="true" speed="500" pager="false" class="height-auto" #slide1>
      <ion-slide (click)="onCallbackEvent('openDetail')">
        <div class="wrap-thumb-slide pd-15 pdl-10 pdr-10">
          <div class="bdra-5 ovfl-hidden">
            <img class="shadow-3" src="assets/img/foo2.jpg" alt="">
          </div>
        </div>
      </ion-slide>

      <ion-slide (click)="onCallbackEvent('openDetail')">
        <div class="wrap-thumb-slide pd-15 pdl-10 pdr-10">
          <div class="bdra-5 ovfl-hidden">
            <img class="shadow-3" src="assets/img/foo3.jpg" alt="">
          </div>
        </div>
      </ion-slide>

      <ion-slide (click)="onCallbackEvent('openDetail')">
        <div class="wrap-thumb-slide pd-15 pdl-10 pdr-10">
          <div class="bdra-5 ovfl-hidden">
            <img class="shadow-3" src="assets/img/foo4.jpg" alt="">
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <h4 class="pdl-10 fs-12 uppercase spacing-1 mgt-30">Popular Product</h4>
  

  <div class="pdl-10 pdr-10">

    <div class="bdra-3 tim-vs-datroi mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo1.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 pink-vs-yellow mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo2.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 lama-vs-coban mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo3.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 indigo-vs-purple mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo7.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 hong-vs-lanon mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo8.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 l-green mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo9.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 blue-grey mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo10.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 teal mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo11.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 purple mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo12.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 yellow mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo13.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 black mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo14.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="bdra-3 cyan mgt-40 mgb-15 shadow-3" (click)="onCallbackEvent('openDetail')">    
      <ion-row>
        <ion-col col-4 class="pdl-15">
          <div class="mgt--25 mgb-5 shadow-3 bdra-5 thumb-product ovfl-hidden">
            <img src="assets/img/foo15.jpg"/>
          </div>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="ios-eye"></ion-icon>
          </button>
          <button ion-button small icon-only outline class="text-white stroke stroke-1 stroke-white">
            <ion-icon name="md-share"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8 class="">
          <h3 class="fs-16 spacing-1 fw-400 mgb-0 mgt-5 pdb-0 text-white">Nine Inch Nails Live</h3>
          <p class="fs-11 text-white mgt-5 mgb-0 opct-9">by Admin Koodinh</p>
          <span class="fs-12 opct-6 text-black mg-0 inline-block pdr-10">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
          </span>
          <i class="fw-600 fs-12 mgt-5 opct-5 text-white mgb-10 inline-block">($12.00)</i>
          <p class="fs-11 fw-300 text-white mgt-0 description opct-8">The largelyresponsible for bringing the music to a mass audience.</p>
        </ion-col>
      </ion-row>
    </div>
  
  </div>

</div>