
<div padding class="white-1">

  <div class="white shadow-3 mgb-20 ani-bottom-to-top">
    <div class="pd-15" (click)="onCallbackEvent('openDetail')">
      <h2 class="">Lorem Impsum</h2>
      <p class="">posted at JAN 15, 2018</p>
      <p class="text-grey-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    </div>
    <div (click)="onCallbackEvent('openDetail')">
      <img src="assets/img/bg12.jpg" alt="">
    </div>
    <ion-row class="pd-10 pdb-20">
      <ion-col col-4 text-left class="text-grey-4">
        <ion-icon name="md-eye"></ion-icon>100
      </ion-col>
      <ion-col col-4 text-center class="text-grey-4">
        <ion-icon name="ios-chatbubbles-outline"></ion-icon> 40
      </ion-col>
      <ion-col col-4 text-right class="text-grey-4">
        <ion-icon name="md-share"></ion-icon> 2
      </ion-col>
    </ion-row>
  </div>

  <div class="white shadow-3 mgb-20 ani-bottom-to-top">
    <div class="pd-15" (click)="onCallbackEvent('openDetail')">
      <h2 class="">Lorem Impsum</h2>
      <p class="">posted at JAN 15, 2018</p>
      <p class="text-grey-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    </div>
    <div (click)="onCallbackEvent('openDetail')">
      <img src="assets/img/bg19.jpg" alt="">
    </div>
    <ion-row class="pd-10 pdb-20">
      <ion-col col-4 text-left class="text-grey-4">
        <ion-icon name="md-eye"></ion-icon>100
      </ion-col>
      <ion-col col-4 text-center class="text-grey-4">
        <ion-icon name="ios-chatbubbles-outline"></ion-icon> 40
      </ion-col>
      <ion-col col-4 text-right class="text-grey-4">
        <ion-icon name="md-share"></ion-icon> 2
      </ion-col>
    </ion-row>
  </div>

  <div class="white shadow-3 mgb-20 ani-bottom-to-top">
    <div class="pd-15" (click)="onCallbackEvent('openDetail')">
      <h2 class="">Lorem Impsum</h2>
      <p class="">posted at JAN 15, 2018</p>
      <p class="text-grey-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    </div>
    <div (click)="onCallbackEvent('openDetail')">
      <img src="assets/img/bg11.jpg" alt="">
    </div>
    <ion-row class="pd-10 pdb-20">
      <ion-col col-4 text-left class="text-grey-4">
        <ion-icon name="md-eye"></ion-icon>100
      </ion-col>
      <ion-col col-4 text-center class="text-grey-4">
        <ion-icon name="ios-chatbubbles-outline"></ion-icon> 40
      </ion-col>
      <ion-col col-4 text-right class="text-grey-4">
        <ion-icon name="md-share"></ion-icon> 2
      </ion-col>
    </ion-row>
  </div>

  <div class="white shadow-3 mgb-20 ani-bottom-to-top">
    <div class="pd-15" (click)="onCallbackEvent('openDetail')">
      <h2 class="">Lorem Impsum</h2>
      <p class="">posted at JAN 15, 2018</p>
      <p class="text-grey-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    </div>
    <div (click)="onCallbackEvent('openDetail')">
      <img src="assets/img/bg16.jpg" alt="">
    </div>
    <ion-row class="pd-10 pdb-20">
      <ion-col col-4 text-left class="text-grey-4">
        <ion-icon name="md-eye"></ion-icon>100
      </ion-col>
      <ion-col col-4 text-center class="text-grey-4">
        <ion-icon name="ios-chatbubbles-outline"></ion-icon> 40
      </ion-col>
      <ion-col col-4 text-right class="text-grey-4">
        <ion-icon name="md-share"></ion-icon> 2
      </ion-col>
    </ion-row>
  </div>

  <div class="white shadow-3 mgb-20 ani-bottom-to-top">
    <div class="pd-15" (click)="onCallbackEvent('openDetail')">
      <h2 class="">Lorem Impsum</h2>
      <p class="">posted at JAN 15, 2018</p>
      <p class="text-grey-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    </div>
    <div (click)="onCallbackEvent('openDetail')">
      <img src="assets/img/bg17.jpg" alt="">
    </div>
    <ion-row class="pd-10 pdb-20">
      <ion-col col-4 text-left class="text-grey-4">
        <ion-icon name="md-eye"></ion-icon>100
      </ion-col>
      <ion-col col-4 text-center class="text-grey-4">
        <ion-icon name="ios-chatbubbles-outline"></ion-icon> 40
      </ion-col>
      <ion-col col-4 text-right class="text-grey-4">
        <ion-icon name="md-share"></ion-icon> 2
      </ion-col>
    </ion-row>
  </div>

  <div class="white shadow-3 mgb-20 ani-bottom-to-top">
    <div class="pd-15" (click)="onCallbackEvent('openDetail')">
      <h2 class="">Lorem Impsum</h2>
      <p class="">posted at JAN 15, 2018</p>
      <p class="text-grey-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    </div>
    <div (click)="onCallbackEvent('openDetail')">
      <img src="assets/img/bg13.jpg" alt="">
    </div>
    <ion-row class="pd-10 pdb-20">
      <ion-col col-4 text-left class="text-grey-4">
        <ion-icon name="md-eye"></ion-icon>100
      </ion-col>
      <ion-col col-4 text-center class="text-grey-4">
        <ion-icon name="ios-chatbubbles-outline"></ion-icon> 40
      </ion-col>
      <ion-col col-4 text-right class="text-grey-4">
        <ion-icon name="md-share"></ion-icon> 2
      </ion-col>
    </ion-row>
  </div>

</div>