
<div padding>
  
  <button ion-button block round class="d-purple mgt-10" (click)="baseAlert()">Show Basic Alert</button>

  <button ion-button block round class="blue mgt-10" (click)="promptAlert()">Show Prompt Alert</button>

  <button ion-button block round class="green mgt-10" (click)="confirmAlert()">Show Confirm Alert</button>

  <button ion-button block round class="amber mgt-10" (click)="radioAlert()">Show Radio Alert</button>

  <button ion-button block round class="black mgt-10" (click)="checkboxAlert()">Show Checkbox Alert</button>

</div>
