  
  <ion-list class="mg-0">
    <ion-item *ngFor="let item of friends">
      {{ item }}
    </ion-item>
  </ion-list>

  
  <div class="mg-0">
    <ion-list no-lines class="lst-no-background">
      <ion-item-group>
        <ion-item-divider class="ani-fade-out" color="light">Online</ion-item-divider>
        
        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt1.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Woody Renma</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>

        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt2.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Koodinh</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>

        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt3.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Thanh Luan</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>

        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt4.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Dinh Trieu</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>

        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt5.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Furily Hatanomi</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>

        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt6.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Zuikenov</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider class="ani-fade-out" color="light">Other</ion-item-divider>
        
        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt7.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Frankan Liyn</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>

        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt1.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Lyan Galiduni</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>

        <ion-item class="ani-bottom-to-left">
          <ion-avatar item-start (click)="onCallbackEvent('openConversation')">
            <img src="assets/img/avt2.jpg">
          </ion-avatar>
          <h2 class="fs-16" (click)="onCallbackEvent('openConversation')">Marian Majuli</h2>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-information-circle-outline"></ion-icon>
          </button>
          <button ion-button clear small item-end class="mg-0 pd-0 text-grey-3">
            <ion-icon class="fs-18" name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-item>
      </ion-item-group>
    </ion-list>

  </div>