
  <ion-list no-lines class="white mg-0">
    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt1.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Woody</h2>
        <p class="text-grey-3">Fusce imperdiet tellus ut elit viverra, at pretium tellus ullamcorper.</p>
        <ion-note item-end class="fs-12">7:03 pm</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt2.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Lrandom Dev</h2>
        <p class="text-grey-3">This town ain't big enough for the two of us!</p>
        <ion-note item-end class="fs-12">3:43 am</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt3.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Koodinh</h2>
        <p class="text-grey-3">Pellentesque eros massa, mollis eget faucibus at, porta a erat.</p>
        <ion-note item-end class="fs-12">1:35 pm</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt4.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Luan Thanh</h2>
        <p class="text-grey-3">Vestibulum nunc turpis, vestibulum imperdiet consequat ut.</p>
        <ion-note item-end class="fs-12">8:33 pm</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt5.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Aser Kaim</h2>
        <p class="text-grey-3">Mollis eget faucibus at, porta a erat.</p>
        <ion-note item-end class="fs-12">12:05 am</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt6.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Frankin leor</h2>
        <p class="text-grey-3">This town ain't big enough for the two of us!</p>
        <ion-note item-end class="fs-12">2:43 am</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt7.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Marrian Banh</h2>
        <p class="text-grey-3">Sed ultrices at odio vel tempus.</p>
        <ion-note item-end class="fs-12">9:47 pm</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt1.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">John Gouling</h2>
        <p class="text-grey-3">Fusce imperdiet tellus ut elit viverra, at pretium tellus ullamcorper.</p>
        <ion-note item-end class="fs-12">5:22 am</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt2.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Tom Fureus</h2>
        <p class="text-grey-3">This town ain't big enough for the two of us!</p>
        <ion-note item-end class="fs-12">6:57 pm</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt3.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Zanlokopou</h2>
        <p class="text-grey-3">Vivamus eu porttitor ipsum. Pellentesque eros massa</p>
        <ion-note item-end class="fs-12">11:45 pm</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt1.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">John Gouling</h2>
        <p class="text-grey-3">Fusce imperdiet tellus ut elit viverra, at pretium tellus ullamcorper.</p>
        <ion-note item-end class="fs-12">5:22 am</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding class="ani-right-to-left">
      <ion-item class="white" (click)="onCallbackEvent('openConversation')">
        <ion-avatar item-start>
          <img src="assets/img/avt5.jpg">
        </ion-avatar>
        <h2 class="fs-15 fw-500">Aser Kaim</h2>
        <p class="text-grey-3">Mollis eget faucibus at, porta a erat.</p>
        <ion-note item-end class="fs-12">12:05 am</ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" class="white-2 fs-13" icon-start>
          <ion-icon name="ios-more" class="fs-18"></ion-icon>
          More
        </button>
        <button ion-button color="secondary" class="pink-vs-red fs-13" icon-start>
          <ion-icon name="trash" class="fs-18"></ion-icon>
          Dell
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
