

<div class="white-1">

  <ion-card class="bdra-5" (click)="onCallbackEvent('openDetail')">
    <img src="assets/img/demo2.jpg"/>
    
    <ion-card-content class="pdt-0">
      <ion-card-title class="fs-16 fw-600 mgb-0 pdb-0">Nine Inch Nails Live</ion-card-title>
      <p class="fw-600 mgt-5 mgb-10">$12.00</p>
      <p class="mgb-0">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-heart"></ion-icon>
          <div>120</div>
        </button>
      </ion-col>

      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-basket"></ion-icon>
          <div>Add To Cart</div>
        </button>
      </ion-col>
      
      <ion-col col-4 right text-right>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="bdra-5" (click)="onCallbackEvent('openDetail')">
    <img src="assets/img/demo3.jpg"/>
    
    <ion-card-content class="pdt-0">
      <ion-card-title class="fs-16 fw-600 mgb-0 pdb-0">Nine Inch Nails Live</ion-card-title>
      <p class="fw-600 mgt-5 mgb-10">$12.00</p>
      <p class="mgb-0">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-heart"></ion-icon>
          <div>120</div>
        </button>
      </ion-col>

      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-basket"></ion-icon>
          <div>Add To Cart</div>
        </button>
      </ion-col>
      
      <ion-col col-4 right text-right>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="bdra-5" (click)="onCallbackEvent('openDetail')">
    <img src="assets/img/demo4.jpg"/>
    
    <ion-card-content class="pdt-0">
      <ion-card-title class="fs-16 fw-600 mgb-0 pdb-0">Nine Inch Nails Live</ion-card-title>
      <p class="fw-600 mgt-5 mgb-10">$12.00</p>
      <p class="mgb-0">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-heart"></ion-icon>
          <div>120</div>
        </button>
      </ion-col>

      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-basket"></ion-icon>
          <div>Add To Cart</div>
        </button>
      </ion-col>
      
      <ion-col col-4 right text-right>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="bdra-5" (click)="onCallbackEvent('openDetail')">
    <img src="assets/img/demo5.jpg"/>
    
    <ion-card-content class="pdt-0">
      <ion-card-title class="fs-16 fw-600 mgb-0 pdb-0">Nine Inch Nails Live</ion-card-title>
      <p class="fw-600 mgt-5 mgb-10">$12.00</p>
      <p class="mgb-0">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-heart"></ion-icon>
          <div>120</div>
        </button>
      </ion-col>

      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-basket"></ion-icon>
          <div>Add To Cart</div>
        </button>
      </ion-col>
      
      <ion-col col-4 right text-right>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="bdra-5" (click)="onCallbackEvent('openDetail')">
    <img src="assets/img/demo6.jpg"/>
    
    <ion-card-content class="pdt-0">
      <ion-card-title class="fs-16 fw-600 mgb-0 pdb-0">Nine Inch Nails Live</ion-card-title>
      <p class="fw-600 mgt-5 mgb-10">$12.00</p>
      <p class="mgb-0">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-heart"></ion-icon>
          <div>120</div>
        </button>
      </ion-col>

      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-basket"></ion-icon>
          <div>Add To Cart</div>
        </button>
      </ion-col>
      
      <ion-col col-4 right text-right>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="bdra-5" (click)="onCallbackEvent('openDetail')">
    <img src="assets/img/demo7.jpg"/>
    
    <ion-card-content class="pdt-0">
      <ion-card-title class="fs-16 fw-600 mgb-0 pdb-0">Nine Inch Nails Live</ion-card-title>
      <p class="fw-600 mgt-5 mgb-10">$12.00</p>
      <p class="mgb-0">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-heart"></ion-icon>
          <div>120</div>
        </button>
      </ion-col>

      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-basket"></ion-icon>
          <div>Add To Cart</div>
        </button>
      </ion-col>
      
      <ion-col col-4 right text-right>
        <button ion-button icon-left clear small class="text-grey-4">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</div>