
<div class="white">
  <ion-card class="shadow-0 bdra-0 full-width mgl-0 mgr-0">
    <ion-row>
      <ion-col>
        <h2 class="fs-13 pdl-10 fw-500">
          <ion-icon name="ios-clock" class="fs-22 mgr-5"></ion-icon>
          at DEC 26, 2017
        </h2>
      </ion-col>
      <ion-col col-2 class="text-right">
        <button ion-button clear icon-only small class="text-black">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <img src="assets/img/bg19.jpg">

    <ion-card-content class="text-center">
      <ion-card-title class="fs-18 fw-600">Nine Inch Nails Live</ion-card-title>
      <p class="fs-13 text-grey-4">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      <button ion-button round small class="lama-vs-coban uppercase mgt-20 mgb-20">Readmore</button>
    </ion-card-content>
  </ion-card>



  <ion-card class="shadow-0 bdra-0 full-width mgl-0 mgr-0">
    <ion-row>
      <ion-col>
        <h2 class="fs-13 pdl-10 fw-500">
          <ion-icon name="ios-clock" class="fs-22 mgr-5"></ion-icon>
          at DEC 26, 2017
        </h2>
      </ion-col>
      <ion-col col-2 class="text-right">
        <button ion-button clear icon-only small class="text-black">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <img src="assets/img/bg6.jpg">

    <ion-card-content class="text-center">
      <ion-card-title class="fs-18 fw-600">Nine Inch Nails Live</ion-card-title>
      <p class="fs-13 text-grey-4">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      <button ion-button round small class="lama-vs-coban uppercase mgt-20 mgb-20">Readmore</button>
    </ion-card-content>
  </ion-card>




  <ion-card class="shadow-0 bdra-0 full-width mgl-0 mgr-0">
    <ion-row>
      <ion-col>
        <h2 class="fs-13 pdl-10 fw-500">
          <ion-icon name="ios-clock" class="fs-22 mgr-5"></ion-icon>
          at DEC 26, 2017
        </h2>
      </ion-col>
      <ion-col col-2 class="text-right">
        <button ion-button clear icon-only small class="text-black">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <img src="assets/img/bg7.jpg">

    <ion-card-content class="text-center">
      <ion-card-title class="fs-18 fw-600">Nine Inch Nails Live</ion-card-title>
      <p class="fs-13 text-grey-4">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      <button ion-button round small class="lama-vs-coban uppercase mgt-20 mgb-20">Readmore</button>
    </ion-card-content>
  </ion-card>



  <ion-card class="shadow-0 bdra-0 full-width mgl-0 mgr-0">
    <ion-row>
      <ion-col>
        <h2 class="fs-13 pdl-10 fw-500">
          <ion-icon name="ios-clock" class="fs-22 mgr-5"></ion-icon>
          at DEC 26, 2017
        </h2>
      </ion-col>
      <ion-col col-2 class="text-right">
        <button ion-button clear icon-only small class="text-black">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <img src="assets/img/bg8.jpg">

    <ion-card-content class="text-center">
      <ion-card-title class="fs-18 fw-600">Nine Inch Nails Live</ion-card-title>
      <p class="fs-13 text-grey-4">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      <button ion-button round small class="lama-vs-coban uppercase mgt-20 mgb-20">Readmore</button>
    </ion-card-content>
  </ion-card>




  <ion-card class="shadow-0 bdra-0 full-width mgl-0 mgr-0">
    <ion-row>
      <ion-col>
        <h2 class="fs-13 pdl-10 fw-500">
          <ion-icon name="ios-clock" class="fs-22 mgr-5"></ion-icon>
          at DEC 26, 2017
        </h2>
      </ion-col>
      <ion-col col-2 class="text-right">
        <button ion-button clear icon-only small class="text-black">
          <ion-icon name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <img src="assets/img/bg9.jpg">

    <ion-card-content class="text-center">
      <ion-card-title class="fs-18 fw-600">Nine Inch Nails Live</ion-card-title>
      <p class="fs-13 text-grey-4">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      <button ion-button round small class="lama-vs-coban uppercase mgt-20 mgb-20">Readmore</button>
    </ion-card-content>
  </ion-card>

</div>