<div class="white-1 blog-detail">
  
  <img src="assets/img/bg6.jpg" class="ani-left-to-right" alt="">
  <ion-row padding>
    <h2 class="title text-center fw-800 mgt-20 ani-bottom-to-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <p class="date text-grey-3 fs-13 text-center ani-fade-out">Nov 23, 2017 at 07:00</p>
    
    <div class="info text-center mgt-15 mgb-40 block ani-bottom-to-top">
      <span class="fs-13 grey-2 pdl-10 pdr-10 pdt-5 pdb-5 text-grey-5"><ion-icon class="mgr-10" name="ios-eye"></ion-icon>200</span>
      <span class="fs-13 grey-2 pdl-10 pdr-10 pdt-5 pdb-5 text-grey-5"><ion-icon class="mgr-10" name="ios-chatbubbles"></ion-icon>34</span>
      <span class="fs-13 grey-2 pdl-10 pdr-10 pdt-5 pdb-5 text-grey-5"><ion-icon class="mgr-10" name="ios-person"></ion-icon>by <b>Koodinh</b></span>
    </div>

    <div class="txt-post text-center preface pdt-30 ani-top-to-bottom">Mauris ac ligula elit. Nulla pulvinar eget leo ut aliquet. Praesent sit amet luctus quam. Nam fringilla iaculis mi, ut maximus mauris molestie feugiat. Curabitur nec scelerisque elit. Nunc eu odio facilisis, tempor enim eget, venenatis sem.</div>
  </ion-row>
    
  <ion-slides pager class="height-auto mgt-20 mgb-30 ani-bottom-to-top">
    <ion-slide>
      <img src="assets/img/bg20.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="assets/img/bg12.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="assets/img/bg15.jpg" alt="">
    </ion-slide>
  </ion-slides>
    

  <ion-row padding class="ani-bottom-to-top">
    <div class="txt-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel ipsum in purus mollis dictum eget vitae purus. Nulla ultrices est odio, a maximus velit pretium ac. Donec vel elementum mi. Proin elementum pulvinar neque, in lacinia nibh tempus auctor. Nam sapien velit, commodo ac nibh a, maximus ullamcorper nunc. Integer luctus tortor dignissim, dictum neque at, scelerisque purus. Vivamus nec erat vel magna posuere euismod. Sed ac augue eu tellus tincidunt fermentum eget sit amet nunc. Donec sit amet mi libero. Cras nunc arcu, ultrices nec sapien eu, convallis posuere libero. Pellentesque vulputate lacus eros, at lobortis lorem egestas et. Vestibulum tempus quam in efficitur lobortis. Maecenas consectetur consequat sem pharetra aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>

    <div class="quote grey-1 pd-20 mgt-20 mgb-20 fw-600 fs-16">
      Nunc feugiat eros nunc, et vestibulum metus mollis et. Nullam eu viverra velit, id ultrices nisl.
    </div>

    <div class="txt-post">Morbi laoreet magna elit, id dapibus massa varius consequat. Praesent rhoncus nunc quam, eu mollis velit commodo ut. Etiam euismod elit mi, non auctor velit blandit ut. Aenean vitae pulvinar mi, ac pretium tellus. Morbi eu auctor sem, sollicitudin cursus felis. Praesent vestibulum velit sed eros iaculis ornare. Praesent diam diam, pellentesque eget scelerisque sed, bibendum ut risus. Sed sed fermentum sem. Integer vel justo felis. Proin eget quam est.</div>
    
    <div class="excerpts grey-1 pdt-30 pd-20 mgt-20 mgb-20">
      <ion-icon class="fs-30 pull-left mgr-15" name="quote"></ion-icon>
      <p class="fs-16">Curabitur nec scelerisque elit. Nunc eu odio facilisis, tempor enim eget, venenatis sem.</p>
      <ion-list no-lines class="lst-no-background">
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/avt5.jpg">
          </ion-avatar>
          <h2 class="fs-16 fw-600">LuanThanh</h2>
          <h3>Designer</h3>
        </ion-item>
      </ion-list>
    </div>

    <div class="txt-post">In sit amet ipsum sagittis, convallis ipsum fringilla, interdum ante. Etiam vel tincidunt mauris. Nunc feugiat eros nunc, et vestibulum metus mollis et. Nullam eu viverra velit, id ultrices nisl. Donec non enim elementum, laoreet sapien id, feugiat tellus.</div>
  </ion-row>
  

  <ion-row padding class="mgt-20 mgb-50 pdt-10 pdb-5 stroke stroke-1 stroke-grey-1 ani-right-to-left">
    <p>Share with: 
      <button ion-button outline small color="light" class="pull-right mgt--5 text-blue stroke-blue stroke-1 button-circle">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button outline small color="light" class="pull-right mgt--5 text-cyan stroke-cyan stroke-1 button-circle">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button outline small color="light" class="pull-right mgt--5 text-red stroke-red stroke-1 button-circle">
        <ion-icon name="logo-google"></ion-icon>
      </button>
      <button ion-button outline small color="light" class="pull-right mgt--5 text-brown stroke-brown stroke-1 button-circle">
        <ion-icon name="logo-instagram"></ion-icon>
      </button>
      <button ion-button outline small color="light" class="pull-right mgt--5 text-pink stroke-pink stroke-1 button-circle">
        <ion-icon name="logo-pinterest"></ion-icon>
      </button>
    </p>
  </ion-row>


  <div class="ani-bottom-to-top">
    <p padding class="fs-18 fw-600"><ion-icon class="mgr-10 ani-left-to-right" name="ios-chatbubbles">
      </ion-icon>Comments: <b class="text-red">34</b>
    </p>

    <ion-list no-lines class="grey-2 lst-comments ani-fade-out">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt6.jpg">
        </ion-avatar>
        
        <ion-item class="grey-1 fs-14 bdra-5">
          <ion-textarea type="text" placeholder="Background color"></ion-textarea>
        </ion-item>

        <button ion-button small icon-left class="pdl-0 blue text-white bdra-5">
          <ion-icon class="fs-16" name="ios-add"></ion-icon>Add comment
        </button>

      </ion-item>
    </ion-list>
  </div>
  

  <ion-list no-lines class="lst-no-background lst-comments ani-bottom-to-top">
    <ion-item class="ani-bottom-to-left">
      <ion-avatar item-start>
        <img src="assets/img/avt1.jpg">
      </ion-avatar>
      <ion-row>
        <h2 class="fs-16 fw-600">LuanThanh</h2>
        <span class="pull-right mgl-20 fs-13 text-grey-2 mgt-5">04:00 am</span>
      </ion-row>
      <ion-row class="mgt-10">
        <p class="text-cm">Morbi laoreet magna elit, id dapibus massa varius consequat. Praesent rhoncus nunc quam, eu mollis velit commodo ut.</p>
        <button ion-button clear small icon-left class="pdl-0">
          <ion-icon class="fs-16" name="ios-chatbubbles-outline"></ion-icon>Reply
        </button>
        <button ion-button clear small icon-left class="">
          <ion-icon class="fs-16" name="ios-heart-outline"></ion-icon>Like
        </button>
      </ion-row>
    </ion-item>
    
    <ion-item class="ani-bottom-to-left">
      <ion-avatar item-start>
        <img src="assets/img/avt2.jpg">
      </ion-avatar>
      <ion-row>
        <h2 class="fs-16 fw-600">LuanThanh</h2>
        <span class="pull-right mgl-20 fs-13 text-grey-2 mgt-5">04:00 am</span>
      </ion-row>
      <ion-row class="mgt-10">
        <p class="text-cm">Morbi laoreet magna elit, id dapibus massa varius consequat. Praesent rhoncus nunc quam, eu mollis velit commodo ut.</p>
        <button ion-button clear small icon-left class="pdl-0">
          <ion-icon class="fs-16" name="ios-chatbubbles-outline"></ion-icon>Reply
        </button>
        <button ion-button clear small icon-left class="">
          <ion-icon class="fs-16" name="ios-heart-outline"></ion-icon>Like
        </button>
      </ion-row>
    </ion-item>

    <ion-item class="ani-bottom-to-left">
      <ion-avatar item-start>
        <img src="assets/img/avt3.jpg">
      </ion-avatar>
      <ion-row>
        <h2 class="fs-16 fw-600">LuanThanh</h2>
        <span class="pull-right mgl-20 fs-13 text-grey-2 mgt-5">04:00 am</span>
      </ion-row>
      <ion-row class="mgt-10">
        <p class="text-cm">Morbi laoreet magna elit, id dapibus massa varius consequat. Praesent rhoncus nunc quam, eu mollis velit commodo ut.</p>
        <button ion-button clear small icon-left class="pdl-0">
          <ion-icon class="fs-16" name="ios-chatbubbles-outline"></ion-icon>Reply
        </button>
        <button ion-button clear small icon-left class="">
          <ion-icon class="fs-16" name="ios-heart-outline"></ion-icon>Like
        </button>
      </ion-row>
    </ion-item>

    <ion-item class="ani-bottom-to-left">
      <ion-avatar item-start>
        <img src="assets/img/avt4.jpg">
      </ion-avatar>
      <ion-row>
        <h2 class="fs-16 fw-600">LuanThanh</h2>
        <span class="pull-right mgl-20 fs-13 text-grey-2 mgt-5">04:00 am</span>
      </ion-row>
      <ion-row class="mgt-10">
        <p class="text-cm">Morbi laoreet magna elit, id dapibus massa varius consequat. Praesent rhoncus nunc quam, eu mollis velit commodo ut.</p>
        <button ion-button clear small icon-left class="pdl-0">
          <ion-icon class="fs-16" name="ios-chatbubbles-outline"></ion-icon>Reply
        </button>
        <button ion-button clear small icon-left class="">
          <ion-icon class="fs-16" name="ios-heart-outline"></ion-icon>Like
        </button>
      </ion-row>
    </ion-item>

    <ion-item class="ani-bottom-to-left">
      <ion-avatar item-start>
        <img src="assets/img/avt5.jpg">
      </ion-avatar>
      <ion-row>
        <h2 class="fs-16 fw-600">LuanThanh</h2>
        <span class="pull-right mgl-20 fs-13 text-grey-2 mgt-5">04:00 am</span>
      </ion-row>
      <ion-row class="mgt-10">
        <p class="text-cm">Morbi laoreet magna elit, id dapibus massa varius consequat. Praesent rhoncus nunc quam, eu mollis velit commodo ut.</p>
        <button ion-button clear small icon-left class="pdl-0">
          <ion-icon class="fs-16" name="ios-chatbubbles-outline"></ion-icon>Reply
        </button>
        <button ion-button clear small icon-left class="">
          <ion-icon class="fs-16" name="ios-heart-outline"></ion-icon>Like
        </button>
      </ion-row>
    </ion-item>
  </ion-list>

  <button ion-button block icon-left clear class="mgb-30 text-grey-5">
    <ion-icon name="ios-add"></ion-icon>
    More comment
  </button>

</div>
