<div class="white-1">

    <div class="wrapper-slide">
      <ion-slides autoplay="2500" loop="true" speed="500" pager="true" class="height-auto" #slide1>
        <ion-slide>
            <img src="assets/img/foo13.jpg" alt="">
            <div class="slogan">
              <div padding class="wrapper-slogan pdr-50 text-left">
                <h3 class="title text-white spacing-1 fs-16 fw-600 mg-0 uppercase">Product is</h3>
                <h3 class="title text-white spacing-3 fs-40 fw-600 mg-0 uppercase">30% Off</h3>
                <button ion-button round small class="shadow-2 pink fw-600" (click)="onCallbackEvent('openList')">Show me</button>
              </div>
            </div>
        </ion-slide>

        <ion-slide (click)="onCallbackEvent('openList')">
            <img src="assets/img/foo14.jpg" alt="">
            <div class="slogan">
              <div padding class="wrapper-slogan pdr-50 white-opct text-left">
                <h3 class="title text-white fs-20 spacing-2 fw-600 mg-0 uppercase">Hot Collection</h3>
                <h4 class="fs-14 uppercase text-white spacing-2 mg-0 uppercase">simply dummy</h4>
              </div>
            </div>
        </ion-slide>

        <ion-slide (click)="onCallbackEvent('openList')">
            <img src="assets/img/foo15.jpg" alt="">
            <div class="slogan">
              <div padding class="wrapper-slogan pdr-50 black-opct text-left">
                <h3 class="title text-white fs-14 spacing-2 fw-600 uppercase mg-0">of the</h3>
                <h3 class="title text-white fs-20 spacing-2 fw-600 uppercase mg-0">printing</h3>
              </div>
            </div>
        </ion-slide>
      </ion-slides>
    </div>



    <ion-card class="full-width mg-0 cyan">    
      <ion-card-content class="pd-0" (click)="onCallbackEvent('openList')">
        <ion-row>
          <ion-col class="ovfl-hidden pd-0">
            <div class="view-cat ovfl-hidden">
              <img src="assets/img/foo3.jpg"/>
            </div>
          </ion-col>
          <ion-col class="wrap-text text-center lama-vs-coban pd-30">
            <div class="">
                <h3 class="uppercase spacing-1 fs-14 fw-600">Categories name in here</h3>
                <i class="fs-12 text-grey-4">5 item</i>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="full-width mg-0 cyan">    
      <ion-card-content class="pd-0" (click)="onCallbackEvent('openList')">
        <ion-row>
          <ion-col class="wrap-text text-center lot-vs-phan pd-30">
            <div class="">
                <h3 class="uppercase spacing-1 fs-14 fw-600">Categories name in here</h3>
                <i class="fs-12 text-grey-4">5 item</i>
            </div>
          </ion-col>
          <ion-col class="ovfl-hidden pd-0">
            <div class="view-cat ovfl-hidden">
              <img src="assets/img/foo4.jpg"/>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card class="full-width mg-0 cyan">    
      <ion-card-content class="pd-0" (click)="onCallbackEvent('openList')">
        <ion-row>
          <ion-col class="ovfl-hidden pd-0">
            <div class="view-cat ovfl-hidden">
              <img src="assets/img/foo7.jpg"/>
            </div>
          </ion-col>
          <ion-col class="wrap-text text-center purple-vs-indigo pd-30">
            <div class="">
                <h3 class="uppercase spacing-1 fs-14 fw-600">Categories name in here</h3>
                <i class="fs-12 text-grey-4">5 item</i>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="full-width mg-0 cyan">    
      <ion-card-content class="pd-0" (click)="onCallbackEvent('openList')">
        <ion-row>
          <ion-col class="wrap-text text-center hong-vs-lanon pd-30">
            <div class="">
                <h3 class="uppercase spacing-1 fs-14 fw-600">Categories name in here</h3>
                <i class="fs-12 text-grey-4">5 item</i>
            </div>
          </ion-col>
          <ion-col class="ovfl-hidden pd-0">
            <div class="view-cat ovfl-hidden">
              <img src="assets/img/foo8.jpg"/>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card class="full-width mg-0 cyan">    
      <ion-card-content class="pd-0" (click)="onCallbackEvent('openList')">
        <ion-row>
          <ion-col class="ovfl-hidden pd-0">
            <div class="view-cat ovfl-hidden">
              <img src="assets/img/foo9.jpg"/>
            </div>
          </ion-col>
          <ion-col class="wrap-text text-center white-2 pd-30">
            <div class="">
                <h3 class="uppercase spacing-1 fs-14 fw-600">Categories name in here</h3>
                <i class="fs-12 text-grey-4">5 item</i>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="full-width mg-0 cyan">    
      <ion-card-content class="pd-0" (click)="onCallbackEvent('openList')">
        <ion-row>
          <ion-col class="wrap-text text-center tim-vs-datroi pd-30">
            <div class="">
                <h3 class="uppercase spacing-1 fs-14 fw-600">Categories name in here</h3>
                <i class="fs-12 text-grey-4">5 item</i>
            </div>
          </ion-col>
          <ion-col class="ovfl-hidden pd-0">
            <div class="view-cat ovfl-hidden">
              <img src="assets/img/foo10.jpg"/>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card class="full-width mg-0 cyan">    
      <ion-card-content class="pd-0" (click)="onCallbackEvent('openList')">
        <ion-row>
          <ion-col class="ovfl-hidden pd-0">
            <div class="view-cat ovfl-hidden">
              <img src="assets/img/foo11.jpg"/>
            </div>
          </ion-col>
          <ion-col class="wrap-text text-center white-2 pd-30">
            <div class="">
                <h3 class="uppercase spacing-1 fs-14 fw-600">Categories name in here</h3>
                <i class="fs-12 text-grey-4">5 item</i>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

</div>