


<div>
  <ion-card class="pst-relative bdra-10 card-title-pst">
    <div class="pst-relative">
      <img src="assets/img/demo1.jpg"/>
      <ion-card-title padding class="fs-18 text-white pdb-10 bold uppercase">Nine Inch Nails Live</ion-card-title>
    </div>
    <ion-fab right top>
      <button ion-fab small class="white-opct">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-list class="lst-no-background mgt-15">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt5.jpg">
        </ion-avatar>
        <h2>Finn</h2>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt1.jpg">
        </ion-avatar>
        <h2>Han</h2>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-item>
    </ion-list>

    <ion-item>
      <span class="text-grey-4 fs-13 text-bold" item-left>18 tracks</span>
      <button ion-button icon-left clear item-end class="text-black uppercase bold" (click)="onCallbackEvent('openPlayer')">
        <ion-icon name="play"></ion-icon>
        Play
      </button>
    </ion-item>
  </ion-card>

  <ion-card class="pst-relative bdra-10 card-title-pst">
    <div class="pst-relative">
      <img src="assets/img/demo2.jpg"/>
      <ion-card-title padding class="fs-18 text-white pdb-10 bold uppercase">Nine Inch Nails Live</ion-card-title>
    </div>
    <ion-fab right top>
      <button ion-fab small class="white-opct">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-list class="lst-no-background mgt-15">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt5.jpg">
        </ion-avatar>
        <h2>Finn</h2>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt1.jpg">
        </ion-avatar>
        <h2>Han</h2>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-item>
    </ion-list>

    <ion-item>
      <span class="text-grey-4 fs-13 text-bold" item-left>18 tracks</span>
      <button ion-button icon-left clear item-end class="text-black uppercase bold" (click)="onCallbackEvent('openPlayer')">
        <ion-icon name="play"></ion-icon>
        Play
      </button>
    </ion-item>
  </ion-card>

  <ion-card class="pst-relative bdra-10 card-title-pst">
    <div class="pst-relative">
      <img src="assets/img/demo3.jpg"/>
      <ion-card-title padding class="fs-18 text-white pdb-10 bold uppercase">Nine Inch Nails Live</ion-card-title>
    </div>
    <ion-fab right top>
      <button ion-fab small class="white-opct">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-list class="lst-no-background mgt-15">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt5.jpg">
        </ion-avatar>
        <h2>Finn</h2>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt1.jpg">
        </ion-avatar>
        <h2>Han</h2>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-item>
    </ion-list>

    <ion-item>
      <span class="text-grey-4 fs-13 text-bold" item-left>18 tracks</span>
      <button ion-button icon-left clear item-end class="text-black uppercase bold" (click)="onCallbackEvent('openPlayer')">
        <ion-icon name="play"></ion-icon>
        Play
      </button>
    </ion-item>
  </ion-card>

  <ion-card class="pst-relative bdra-10 card-title-pst">
    <div class="pst-relative">
      <img src="assets/img/demo5.jpg"/>
      <ion-card-title padding class="fs-18 text-white pdb-10 bold uppercase">Nine Inch Nails Live</ion-card-title>
    </div>
    <ion-fab right top>
      <button ion-fab small class="white-opct">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-list class="lst-no-background mgt-15">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt5.jpg">
        </ion-avatar>
        <h2>Finn</h2>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avt1.jpg">
        </ion-avatar>
        <h2>Han</h2>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-item>
    </ion-list>

    <ion-item>
      <span class="text-grey-4 fs-13 text-bold" item-left>18 tracks</span>
      <button ion-button icon-left clear item-end class="text-black uppercase bold" (click)="onCallbackEvent('openPlayer')">
        <ion-icon name="play"></ion-icon>
        Play
      </button>
    </ion-item>
  </ion-card>
</div>