
<div padding class="white-1">
  
  <div class="mgb-30 ani-right-to-left">
    <h2 class="fw-600 fs-30">New Post for You</h2>
    <div class="pink line-decor"></div>
  </div>
  
  <div class="shadow-3 wrapper-news pst-relative mgb-20 ani-bottom-to-left">
    <ion-icon class="left-bookmark" name="ios-bookmark-outline"></ion-icon>
    <ion-row (click)="onCallbackEvent('openDetail')">
      <ion-col col-8 class="pdl-15 pdr-10">
        <h3 class="fw-600 mgt-20 mgb-2">Lorem Ipsum is simply</h3>
        <p class="text-grey-4 mgt-0">Post by Koodinh</p>
        <p class="text-grey-3 fs-12">Tue, Jan 16, 2017</p>
      </ion-col>
      <ion-col col-4 class="pd-0">
        <img src="assets/img/bg3.jpg" alt="">
      </ion-col>
    </ion-row>
  </div>

  <div class="shadow-3 wrapper-news pst-relative mgb-20 ani-bottom-to-left">
    <ion-icon class="right-bookmark" name="ios-bookmark-outline"></ion-icon>
    <ion-row (click)="onCallbackEvent('openDetail')">
      <ion-col col-4 class="pd-0">
        <img src="assets/img/bg5.jpg" alt="">
      </ion-col>
      <ion-col col-8 class="pdl-15 pdr-10">
        <h3 class="fw-600 mgt-20 mgb-2">Lorem Ipsum is simply</h3>
        <p class="text-grey-4 mgt-0">Post by Koodinh</p>
        <p class="text-grey-3 fs-12">Tue, Jan 16, 2017</p>
      </ion-col>
    </ion-row>
  </div>

  <div class="shadow-3 wrapper-news pst-relative mgb-20 ani-bottom-to-left">
    <ion-icon class="left-bookmark" name="ios-bookmark-outline"></ion-icon>
    <ion-row (click)="onCallbackEvent('openDetail')">
      <ion-col col-8 class="pdl-15 pdr-10">
        <h3 class="fw-600 mgt-20 mgb-2">Lorem Ipsum is simply</h3>
        <p class="text-grey-4 mgt-0">Post by Koodinh</p>
        <p class="text-grey-3 fs-12">Tue, Jan 16, 2017</p>
      </ion-col>
      <ion-col col-4 class="pd-0">
        <img src="assets/img/bg10.jpg" alt="">
      </ion-col>
    </ion-row>
  </div>

  <div class="shadow-3 wrapper-news pst-relative mgb-20 ani-bottom-to-left">
    <ion-icon class="right-bookmark" name="ios-bookmark-outline"></ion-icon>
    <ion-row (click)="onCallbackEvent('openDetail')">
      <ion-col col-4 class="pd-0">
        <img src="assets/img/bg14.jpg" alt="">
      </ion-col>
      <ion-col col-8 class="pdl-15 pdr-10">
        <h3 class="fw-600 mgt-20 mgb-2">Lorem Ipsum is simply</h3>
        <p class="text-grey-4 mgt-0">Post by Koodinh</p>
        <p class="text-grey-3 fs-12">Tue, Jan 16, 2017</p>
      </ion-col>
    </ion-row>
  </div>

  <div class="shadow-3 wrapper-news pst-relative mgb-20 ani-bottom-to-left">
    <ion-icon class="left-bookmark" name="ios-bookmark-outline"></ion-icon>
    <ion-row (click)="onCallbackEvent('openDetail')">
      <ion-col col-8 class="pdl-15 pdr-10">
        <h3 class="fw-600 mgt-20 mgb-2">Lorem Ipsum is simply</h3>
        <p class="text-grey-4 mgt-0">Post by Koodinh</p>
        <p class="text-grey-3 fs-12">Tue, Jan 16, 2017</p>
      </ion-col>
      <ion-col col-4 class="pd-0">
        <img src="assets/img/bg1.jpg" alt="">
      </ion-col>
    </ion-row>
  </div>

  <div class="shadow-3 wrapper-news pst-relative mgb-20 ani-bottom-to-left">
    <ion-icon class="right-bookmark" name="ios-bookmark-outline"></ion-icon>
    <ion-row (click)="onCallbackEvent('openDetail')">
      <ion-col col-4 class="pd-0">
        <img src="assets/img/bg5.jpg" alt="">
      </ion-col>
      <ion-col col-8 class="pdl-15 pdr-10">
        <h3 class="fw-600 mgt-20 mgb-2">Lorem Ipsum is simply</h3>
        <p class="text-grey-4 mgt-0">Post by Koodinh</p>
        <p class="text-grey-3 fs-12">Tue, Jan 16, 2017</p>
      </ion-col>
    </ion-row>
  </div>

</div>