
<div>
<ion-card class="card-img-bg-more bdra-0 full-width mg-0" (click)="onCallbackEvent('openList')">
<img src="assets/img/bg19.jpg"/>
<ion-card-header class="text-white">
<button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
  <ion-icon name="ios-barcode-outline"></ion-icon>
</button>
<span class="fs-14 fw-400">23K Followers</span>
<button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
</ion-card-header>
<div class="wrapper black-opct">
  <ion-card-content class="text-white">
  <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>2307 tracks</span>
  <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16 pdr-50">Lorem Ipsum is simply dummy text</ion-card-title>
</ion-card-content>
</div>
</ion-card>

<ion-card class="card-img-bg-more bdra-0 full-width mg-0" (click)="onCallbackEvent('openList')">
<img src="assets/img/bg16.jpg"/>
<ion-card-header class="text-white">
<button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
  <ion-icon name="ios-barcode-outline"></ion-icon>
</button>
<span class="fs-14 fw-400">31K Followers</span>
<button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
</ion-card-header>
<div class="wrapper black-opct">
  <ion-card-content class="text-white">
  <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>1059 tracks</span>
  <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16 pdr-50">It is a long established fact</ion-card-title>
</ion-card-content>
</div>
</ion-card>

<ion-card class="card-img-bg-more bdra-0 full-width mg-0" (click)="onCallbackEvent('openList')">
<img src="assets/img/bg17.jpg"/>
<ion-card-header class="text-white">
<button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
  <ion-icon name="ios-barcode-outline"></ion-icon>
</button>
<span class="fs-14 fw-400">25K Followers</span>
<button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
</ion-card-header>
<div class="wrapper black-opct">
  <ion-card-content class="text-white">
  <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>203 tracks</span>
  <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16 pdr-50">Lorem Ipsum has been the industry's</ion-card-title>
</ion-card-content>
</div>
</ion-card>

<ion-card class="card-img-bg-more bdra-0 full-width mg-0" (click)="onCallbackEvent('openList')">
<img src="assets/img/bg18.jpg"/>
<ion-card-header class="text-white">
<button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
  <ion-icon name="ios-barcode-outline"></ion-icon>
</button>
<span class="fs-14 fw-400">1K Followers</span>
<button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
</ion-card-header>
<div class="wrapper black-opct">
  <ion-card-content class="text-white">
  <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>1357 tracks</span>
  <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16 pdr-50">Richard McClintock, a Latin professor</ion-card-title>
</ion-card-content>
</div>
</ion-card>

<ion-card class="card-img-bg-more bdra-0 full-width mg-0" (click)="onCallbackEvent('openList')">
<img src="assets/img/bg12.jpg"/>
<ion-card-header class="text-white">
<button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
  <ion-icon name="ios-barcode-outline"></ion-icon>
</button>
<span class="fs-14 fw-400">57K Followers</span>
<button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
</ion-card-header>
<div class="wrapper black-opct">
  <ion-card-content class="text-white">
  <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>5896 tracks</span>
  <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16 pdr-50">Lorem Ipsum comes from sections</ion-card-title>
</ion-card-content>
</div>
</ion-card>

<ion-card class="card-img-bg-more bdra-0 full-width mg-0" (click)="onCallbackEvent('openList')">
<img src="assets/img/bg15.jpg"/>
<ion-card-header class="text-white">
<button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
  <ion-icon name="ios-barcode-outline"></ion-icon>
</button>
<span class="fs-14 fw-400">35K Followers</span>
<button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
</ion-card-header>
<div class="wrapper black-opct">
  <ion-card-content class="text-white">
  <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>1737 tracks</span>
  <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16 pdr-50">There are many variations of passages</ion-card-title>
</ion-card-content>
</div>
</ion-card>

<ion-card class="card-img-bg-more bdra-0 full-width mg-0" (click)="onCallbackEvent('openList')">
<img src="assets/img/bg13.jpg"/>
<ion-card-header class="text-white">
<button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
  <ion-icon name="ios-barcode-outline"></ion-icon>
</button>
<span class="fs-14 fw-400">18K Followers</span>
<button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
</ion-card-header>
<div class="wrapper black-opct">
  <ion-card-content class="text-white">
  <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>3907 tracks</span>
  <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16 pdr-50">The standard chunk of Lorem Ipsum</ion-card-title>
</ion-card-content>
</div>
</ion-card>

<ion-card class="card-img-bg-more bdra-0 full-width mg-0" (click)="onCallbackEvent('openList')">
<img src="assets/img/bg11.jpg"/>
<ion-card-header class="text-white">
<button ion-button icon-only small class="button-circle white-opct text-white mgt--5">
  <ion-icon name="ios-barcode-outline"></ion-icon>
</button>
<span class="fs-14 fw-400">92K Followers</span>
<button ion-button small class="white-opct text-white pull-right mgt--5">Follow</button>
</ion-card-header>
<div class="wrapper black-opct">
  <ion-card-content class="text-white">
  <span class="info-stt text-white inline-block"><ion-icon class="mgr-5" name="md-stats"></ion-icon>2307 tracks</span>
  <ion-card-title class="text-white uppercase spacing-1 fw-600 fs-16 pdr-50">It is a long established fact</ion-card-title>
</ion-card-content>
</div>
</ion-card>

</div>