
<div>
  
  <ion-list no-lines class="lst-no-background">
    
    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end outline class="bdra-0 transparent stroke stroke-1 stroke-green text-green">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end outline class="bdra-0 transparent bdra-5 stroke stroke-1 stroke-indigo text-indigo">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end outline class="bdra-0 transparent bdra-20 stroke stroke-1 stroke-cyan text-cyan">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="pink bdra-0">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="blue bdra-5">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="purple bdra-10">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="green bdra-20">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="black">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="pink-vs-indigo">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="pink-vs-red">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="pink-vs-yellow">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="cyan-vs-yellow">260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-twitter" item-start></ion-icon>
      Followers
      <ion-badge item-end class="green-vs-yellow">260k</ion-badge>
    </ion-item>

  </ion-list>

</div>
