
<div class="white-1">
  <div class="pst-relative wrapper-categories ani-right-to-left" (click)="onCallbackEvent('openList')">
    <img src="assets/img/bg10.jpg" alt="">
    <h3 class="text-white pst-absolute uppercase fw-400 fs-18">Sport</h3>
  </div>
  <div class="pst-relative wrapper-categories ani-right-to-left" (click)="onCallbackEvent('openList')">
    <img src="assets/img/bg8.jpg" alt="">
    <h3 class="text-white pst-absolute uppercase fw-400 fs-18">Technology</h3>
  </div>
  <div class="pst-relative wrapper-categories ani-right-to-left" (click)="onCallbackEvent('openList')">
    <img src="assets/img/bg9.jpg" alt="">
    <h3 class="text-white pst-absolute uppercase fw-400 fs-18">Fashion</h3>
  </div>
  <div class="pst-relative wrapper-categories ani-right-to-left" (click)="onCallbackEvent('openList')">
    <img src="assets/img/bg4.jpg" alt="">
    <h3 class="text-white pst-absolute uppercase fw-400 fs-18">Security</h3>
  </div>
  <div class="pst-relative wrapper-categories ani-right-to-left" (click)="onCallbackEvent('openList')">
    <img src="assets/img/bg15.jpg" alt="">
    <h3 class="text-white pst-absolute uppercase fw-400 fs-18">BBC</h3>
  </div>
  <div class="pst-relative wrapper-categories ani-right-to-left" (click)="onCallbackEvent('openList')">
    <img src="assets/img/bg12.jpg" alt="">
    <h3 class="text-white pst-absolute uppercase fw-400 fs-18">Travel</h3>
  </div>
  <div class="pst-relative wrapper-categories ani-right-to-left" (click)="onCallbackEvent('openList')">
    <img src="assets/img/bg5.jpg" alt="">
    <h3 class="text-white pst-absolute uppercase fw-400 fs-18">Global</h3>
  </div>
  <div class="pst-relative wrapper-categories ani-right-to-left" (click)="onCallbackEvent('openList')">
    <img src="assets/img/bg18.jpg" alt="">
    <h3 class="text-white pst-absolute uppercase fw-400 fs-18">Life</h3>
  </div>
</div>