<ion-toolbar class="pdt-0 pdb-0">
    <ion-segment [(ngModel)]="pet" class="segment-line-balance text-black stroke-black">
      <ion-segment-button class="fs-11" value="puppies">
        Women
      </ion-segment-button>
      <ion-segment-button class="fs-11" value="kittens">
        Men
      </ion-segment-button>
      <ion-segment-button class="fs-11" value="ducklings">
        Kids
      </ion-segment-button>
      <ion-segment-button class="fs-11" value="perry">
        Other
      </ion-segment-button>
    </ion-segment>
</ion-toolbar>