<div class="white-1" *ngIf="data!=null">
  	<ion-card class="bdra-5 ani-left-to-right">
	    <img src="assets/img/bg17.jpg"/>
	    <ion-card-content>
	      	<ion-card-title class="fs-18 fw-600">Nine Inch Nails Live. Are you telling me that you built a time machine...</ion-card-title>
	      	<p>The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
	    </ion-card-content>

	    <ion-row>
	      	<ion-col>
		        <button ion-button icon-left clear small class="text-black">
		          	<ion-icon name="thumbs-up"></ion-icon>
		          	<div>120</div>
		        </button>
	      	</ion-col>
	      	<ion-col center text-center>
		        <button ion-button icon-left clear small class="text-black">
		          	<ion-icon name="text"></ion-icon>
		          	<div>40</div>
		        </button>
	      	</ion-col>
	      	<ion-col right text-right>
	        	<button ion-button icon-left clear small class="text-black fs-20">
	          		<ion-icon name="ios-more"></ion-icon>
	        	</button>
	      	</ion-col>
	    </ion-row>
  	</ion-card>

  	<ion-card class="bdra-5 d-purple ani-left-to-right">
	    <ion-card-content>
	    	<span class="text-grey-4 inline-block mgt-20 white fs-11 bdra-5 pd-5 uppercase">
	    		<ion-icon name="quote" class="fs-20 mgr-5"></ion-icon>quote
	    	</span>
	      	<ion-card-title class="fs-22 text-white mgt-20 fw-600">Etiam rutrum iaculis nisi, eu faucibus arcu malesuada eu.</ion-card-title>
	    </ion-card-content>

	    <ion-row>
	      	<ion-col col-3>
	        	<button ion-button icon-left clear small class="text-white-2">
	          		<ion-icon name="thumbs-up"></ion-icon>
	          		<div>120</div>
	        	</button>
	      	</ion-col>
	      	<ion-col col-3>
	        	<button ion-button icon-left clear small class="text-white-2">
	          		<ion-icon name="text"></ion-icon>
	          		<div>40</div>
	        	</button>
	      	</ion-col>
	    </ion-row>

	    <ion-item class="mgt-30 transparent pdb-15">
	      	<ion-avatar item-start class="mgt-6 mgb-6">
	        	<img src="assets/img/avt1.jpg">
	      	</ion-avatar>
	      	<h2 class="fs-14 text-white">Marty McFly</h2>
	      	<p class="fs-10 text-grey-1">November 5, 1955</p>
	    </ion-item>
  	</ion-card>
	


   	<ion-card padding class="bdra-5 ani-left-to-right">
		<p class="uppercase fs-13 mgb-15 spacing-1 fw-600">Nov 27, 2017</p>

	    <img src="assets/img/bg20.jpg"/>
		
		<ion-card-content>
		  	<p class="">Travel</p>
	      	<ion-card-title class="fs-18">Largelyresponsible for bringing the music to a mass audience.</ion-card-title>
	    </ion-card-content>

	    <ion-list>
	    	<ion-item>
		      	<ion-thumbnail item-start>
		        	<img src="assets/img/demo1.jpg">
		      	</ion-thumbnail>
		      	<h2>My Neighbor Totoro</h2>
		      	<p>Hayao Miyazaki • 1988</p>
		      	<button ion-button clear item-end>View</button>
		    </ion-item>
		    <ion-item>
		      	<ion-thumbnail item-start>
		        	<img src="assets/img/demo2.jpg">
		      	</ion-thumbnail>
		      	<h2>Raiders of the Lost Ark</h2>
		      	<p>Steven Spielberg • 1981</p>
		      	<button ion-button clear item-end>View</button>
		    </ion-item>
		    <ion-item>
		      	<ion-thumbnail item-start>
		        	<img src="assets/img/demo3.jpg">
		      	</ion-thumbnail>
		      	<h2>Ghostbusters</h2>
		      	<p>Ivan Reitman • 1984</p>
		      	<button ion-button clear item-end>View</button>
		    </ion-item>
	    </ion-list>
  	
	  	<ion-row>
	    	<button ion-button block clear round small class="text-pink stroke-pink uppercase">More</button>
	    </ion-row>
  	</ion-card>

  	<ion-card class="bdra-5 ani-left-to-right">
	  	<ion-item class="no-background">
	      	<ion-avatar item-start class="mgt-6 mgb-6">
	        	<img src="assets/img/avt2.jpg">
	      	</ion-avatar>
	      	<h2 class="fs-14">Marty McFly</h2>
	      	<p class="fs-10 text-grey-4">November 5, 1955</p>
	    </ion-item>

	    <img src="assets/img/bg14.jpg"/>
	    
	    <ion-card-content>
	      	<ion-card-title class="fs-18">Largelyresponsible for bringing the music to a mass audience.</ion-card-title>
	    </ion-card-content>
  	</ion-card>


  	<ion-card class="bdra-5 lama-vs-coban text-center ani-left-to-right">
	    <ion-card-content class="pd-30">
	      	<ion-card-title class="fs-22 fw-600 text-white spacing-1">Largelyresponsible for bringing the music to a mass audience.</ion-card-title>
	      	<p class="text-white">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
	      	<button ion-button outline round class="text-white stroke-1 stroke-white uppercase spacing-1 mgt-20">Read more</button>
	    </ion-card-content>
  	</ion-card>


  	<ion-card class="bdra-5 ani-left-to-right">
	    <img src="assets/img/bg18.jpg"/>
	    
	    <ion-card-content>
	      	<ion-card-title class="fs-18 fw-600">Nine Inch Nails Live. Are you telling me that you built a time machine...</ion-card-title>
	      	<p>The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
	    </ion-card-content>

	    <ion-row>
	      	<ion-col>
	        	<button ion-button icon-left clear small class="text-black">
	          		<ion-icon name="thumbs-up"></ion-icon>
	          		<div>120</div>
	        	</button>
	      	</ion-col>

	      	<ion-col center text-center>
		        <button ion-button icon-left clear small class="text-black">
		          	<ion-icon name="text"></ion-icon>
		          	<div>40</div>
		        </button>
	      	</ion-col>
	      
	      	<ion-col right text-right>
	        	<button ion-button icon-left clear small class="text-black fs-20">
	          		<ion-icon name="ios-more"></ion-icon>
	        	</button>
	      	</ion-col>
	    </ion-row>
  	</ion-card>

  	<ion-card class="card-bg-pst bdra-5 text-right ani-left-to-right">
    	<img src="assets/img/bg4.jpg"/>
    	<div class="wrapper-pst pull-right pd-20 pdr-30 pdl-50">
    		<ion-card-title class="text-white fs-18 spacing-1 pdl-50">Nam maximus molestie mi.</ion-card-title>
    		<p class="card-subtitle text-grey-2 pdl-50">Phasellus rutrum iaculis arcu, at sodales tellus mattis vel.</p>
    	</div>
  	</ion-card>

	<ion-card padding class="bdra-5 text-center ani-left-to-right">
		<span class="uppercase fs-12 spacing-1 fw-600 text-white mgt-10 mgb-20 orange inline-block pd-10">Nov 27, 2017</span>

		<ion-card-content>
	      	<ion-card-title class="fs-18">Largelyresponsible for bringing the music to a mass audience.</ion-card-title>
	    	<ion-list class="lst-no-background">
			    <ion-item>
			      	<ion-avatar item-start>
			        	<img src="assets/img/avt1.jpg">
			      	</ion-avatar>
			      	<h2 class="fw-600 fs-13">Woody</h2>
			      	<p>Coder</p>
			    </ion-item>
			</ion-list>
			<div class="divider white-2"></div>
	    </ion-card-content>
		

		<ion-card-content>
	      	<ion-card-title class="fs-18">Largelyresponsible for bringing the music to a mass audience.</ion-card-title>
			<ion-list class="lst-no-background">
			    <ion-item>
			      	<ion-avatar item-start>
			        	<img src="assets/img/avt2.jpg">
			      	</ion-avatar>
			      	<h2 class="fw-600 fs-13">Buzz Lightyear</h2>
			      	<p>Designer</p>
			    </ion-item>
			</ion-list>
			<div class="divider white-2"></div>
		</ion-card-content>

		<ion-card-content>
	      	<ion-card-title class="fs-18">Largelyresponsible for bringing the music to a mass audience.</ion-card-title>
			<ion-list class="lst-no-background">
			    <ion-item>
			      	<ion-avatar item-start>
			        	<img src="assets/img/avt3.jpg">
			      	</ion-avatar>
			      	<h2 class="fw-600 fs-13">Jessie</h2>
			      	<p>Developer</p>
			    </ion-item>
			</ion-list>
		</ion-card-content>
  	
	    <button ion-button round class="text-pink grey-1 uppercase mgb-15 fs-13">All Comment</button>
  	</ion-card>

  	<ion-card class="bdra-5 black ani-left-to-right">
  		<ion-card-content>
	      	<ion-card-title class="fs-18 fw-600 text-white spacing-1">Nine Inch Nails Live. Are you telling me that you built a time machine...</ion-card-title>
    		<img src="assets/img/bg15.jpg"/>
	      	<p class="text-white mgt-15">The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
	    </ion-card-content>

    	<ion-row>
		    <ion-col>
		        <button ion-button icon-left clear small class="text-white">
		          	<ion-icon name="thumbs-up"></ion-icon>
		          	<div>120</div>
		        </button>
		    </ion-col>

		    <ion-col center text-center>
		        <button ion-button icon-left clear small class="text-white">
		          	<ion-icon name="text"></ion-icon>
		          	<div>40</div>
		        </button>
		    </ion-col>
      
      		<ion-col right text-right>
        		<button ion-button icon-left clear small class="text-white fs-20">
          			<ion-icon name="ios-more"></ion-icon>
        		</button>
      		</ion-col>
    	</ion-row>
  	</ion-card>

  	<ion-card class="bdra-5 ani-left-to-right">
    	<img src="assets/img/bg11.jpg"/>
    
	    <ion-card-content>
	      	<ion-card-title class="fs-18 fw-600">Nine Inch Nails Live. Are you telling me that you built a time machine...</ion-card-title>
	      	<p>The most popular industrial group ever, and largelyresponsible for bringing the music to a mass audience.</p>
	    </ion-card-content>

    	<ion-row>
		    <ion-col>
		        <button ion-button icon-left clear small class="text-black">
		          	<ion-icon name="thumbs-up"></ion-icon>
		          	<div>120</div>
		        </button>
		    </ion-col>

		    <ion-col center text-center>
		        <button ion-button icon-left clear small class="text-black">
		          	<ion-icon name="text"></ion-icon>
		          	<div>40</div>
		        </button>
		    </ion-col>
      
      		<ion-col right text-right>
        		<button ion-button icon-left clear small class="text-black fs-20">
          			<ion-icon name="ios-more"></ion-icon>
        		</button>
      		</ion-col>
    	</ion-row>
  	</ion-card>
</div>
